.modal-hide
	#js-modal-recovery-2
		.modal-two-cols
			.modal-two-cols__left
				.bg-logo
				.bg-change.bg-change--recovery.bg-change--recovery-mail
			.modal-two-cols__right
				.modal-container-head
					.modal-container-head__title Восстановление пароля
					button.modal-close
				.modal-container-content
					form.form-modal
						.form-modal__input-wrap
							p На вашу почту: mumijo@yandex.ru выслано письмо с инструкцией по восстановлению пароля
						button.button.button-default.js-modal(data-fancybox-href="#js-modal-recovery-3") Продолжить
