.modal-hide
	#js-modal-search
		.modal-search.text-center
			.modal-search__title Введите слово для поиска
			form.modal-search-form
				input.modal-search-form__input-text(type="text")
				input.icon.icon__arrow--angle(type="submit" value="")