include templates/head.jade
ul.nav.sitemap-nav
	li
		a(href="/wide") Главная
	li
		a(href="/wide/blog.html") Блог  
	li
		a(href="/wide/blog-detail.html") Блог внутри
	li
		a(href="/wide/blog-add-article.html") Блог - добавить статью
	li
		a(href="/wide/configurator.html") Конфигуратор
	li
		a(href="/wide/lk.html") Личный кабинет
	li
		a(href="/wide/lk-action.html") Личный кабинет - акции
	li
		a(href="/wide/lk-orders.html") Личный кабинет - заказы
	li
		a(href="/wide/step-1.html") Шаг 1
	li
		a(href="/wide/step-2.html") Шаг 2
	li
		a(href="/wide/step-3.html") Шаг 3 - версия 1
	li
		a(href="/wide/step-3-old.html") Шаг 3 - версия 2
	li
		a(href="/wide/product-detail.html") Каталог - карточка
	li
		a(href="/wide/basket.html") Корзина
	li
		a(href="/wide/place-an-order.html") Оформление заказа
	li
		a(href="/wide/contacts.html") Контакты
	li
		a(href="/wide/contacts-detail.html") Контакты внутри
	li
		a(href="/wide/news.html") Новости
	li
		a(href="/wide/news-detail.html") Новость внутри
	li
		a(href="/wide/search.html") Поиск
	li
		a(href="/wide/service.html") Услуги
	li
		a(href="/wide/service-detail.html") Услуга внутри
	li
		a(href="/wide/about.html") О компании
	li
		a(href="/wide/reviews.html") Отзывы
