footer.footer.hidden-xs
	.footer__left.pull-left
		.copyright
			| © 2016 КухниСтрой.
			span 1-я интернет-фабрика кухонной мебели
	.footer__right.pull-right
		a.footer__mail(href="mailto:info@kuhnistroy.ru")
			i.icon.icon__mail 
			| info@kuhnistroy.ru
		button.footer__search.js-modal-search
			i.icon.icon__loop
			| Поиск по сайту