section.main-menu-bottom.container-fluid.hidden-xs
	.row
		.col-sm-3.main-menu-bottom__col
			.title Каталог
			ul.bottom-menu
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Кухни
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Гостинная
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Шкафы
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Бытовая техника 
		.col-sm-3.main-menu-bottom__col
			.title О компании
			ul.bottom-menu
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Информация
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Карьера
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Новости
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Гарантия
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Миссия
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Преимущества
		.col-sm-3.main-menu-bottom__col
			.title Клиентам
			ul.bottom-menu
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Акции
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Отзывы
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Советы эксперта
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Как купить кухню
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Кухня в кредит
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Доставка и сборка
		.col-sm-3.main-menu-bottom__col
			.title Адреса салонов
			ul.bottom-menu
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Москва
				li.bottom-menu__item
					a.bottom-menu__link(href="#") Белгород
			.title.title-bottom Блог