.modal-hide
	#js-modal-recovery-1
		.modal-two-cols
			.modal-two-cols__left
				.bg-logo
				.bg-change.bg-change--recovery
			.modal-two-cols__right
				.modal-container-head
					.modal-container-head__title Восстановление пароля
					button.modal-close
				.modal-container-content
					form.form-modal
						.form-modal__input-wrap
							.form-modal__input-group
								input.input-text(type="text" placeholder="Логин")
								.input-annotation Укажиет e-mail, указанный при регистрации
						input.button.button-default.js-modal(type="submit" value="Восстановить" data-fancybox-href="#js-modal-recovery-2")
