.button {
	position: relative;
	display: inline-block;
	height: 3.85em;
	line-height: 3.85em;
	min-width: 16em;
	padding: 0 1.66em;
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	font-size: 1.2rem;
	font-family: $font-secondary;
	font-weight: bold;
	text-align: center;	
	text-decoration: none!important;
	&-default {
		background: $btn-bg-color;
		border-color: $btn-bg-color;
		color: $color-light;
		text-transform: uppercase;
		&:hover {
			color: $color-light;
			box-shadow: 0 0 5px 1px lighten($btn-bg-color, 25%);
		}
		&:visited {
			color: $color-light;
		}
		&:active {
			box-shadow: none;
		}
	}
	&-grey {
		background: rgb(171, 171, 171);
		border: 1px rgb(171, 171, 171) solid;
		color: $color-light;
		&:hover {
			color: $color-light;
			box-shadow: 0 0 4px 1px darken(rgb(171, 171, 171), 15%);
		}
		&:visited {
			color: $color-light;
		}
		&:active {
			box-shadow: none;
		}
	}
	&-transparent {
		border-color: $btn-bg-color;
		color: $btn-bg-color;
		background: none;
		&:hover {
			color: $color-light!important;
			background: $btn-bg-color;			
			box-shadow: 0 0 5px 1px lighten($btn-bg-color, 25%);
			text-decoration: none;
		}
		&:visited, &:focus {
			color: $btn-bg-color;
		}
		&:active {
			box-shadow: none;
		}
	}
	&-transparent--white {
		border-color: $color-light;
		color: $color-light;
		background: none;
		&:hover {
			background: rgba(0, 0, 0, 0.2);	
			box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
			text-decoration: none;
		}
		&:visited {
			color: $color-light;
		}
		&:active {
			box-shadow: none;
		}
	}
	&-small {
		height: 3em;
		line-height: 3em;
		min-width: auto;
		background: $color-light;
		color: $btn-bg-color;
		border-color: $btn-bg-color;
		font-weight: bold;
		text-transform: uppercase;
		&:hover {
			background: $btn-bg-color;
			color: $color-light;
			box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.5);
			text-decoration: none;
		}
		&:visited {
			color: $color-light;
		}
		&:active {
			box-shadow: none;
		}
	}
	.icon {
		position: relative;
		top: -2px;
		vertical-align: middle;
		margin-left: 1.66em;	
	}
}

.btn-menu {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	width: 35px;
	height: 25px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;
	&:focus {
	  outline: none;
	}
	span {
		display: block;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		height: 4px;
		background: #706f77;
		border-radius: 10px;
		transition: background 0.3s;
		&::before, &::after {
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 4px;
			background-color: #706f77;
			border-radius: 2px;
			content: "";
			transition-duration: 0.3s, 0.3s;
			transition-delay: 0.3s, 0;
		}
		&::before {
			top: -8px;
			transition-property: top, transform;
		}
		&::after {
			bottom: -8px;
			transition-property: bottom, transform;
		}
	}
	&.active {
		background-color: #cb0032;
		span {
			background: none;
			&::before, &::after {
			    transition-delay: 0, 0.3s;
			}
			&::before {
				top: 0;
				transform: rotate(45deg);
			}
			&::after {
				bottom: 0;
				transform: rotate(-45deg);
			}
		}
	}
	&--red {
		display: inline-block;
		width: 18px;
		height: 15px;
		span {		
			top: 7px;
			height: 3px;	
			background: $btn-bg-color;
			border-radius: 2px;
			&::before, &::after {
				background-color: inherit;
				height: 3px;
			}	
			&::before {
				top: -6px;
			}
			&::after {
				bottom: -6px;
			}		
		}
	}
}

@media screen and (max-width: 767px) {
	.button {
		min-width: auto;
		max-width: 100%;
	}
}