.aside {	
	transition: all 0.3s ease-in-out;
	&-header {
		justify-content: space-between;
		align-items: center;
		padding: 15px 10px;
		.title {
			font-size: 24px;
			font-weight: bold;
			color: $color-light;
		}
		button {
			font-size: 18px;
			color: $color-light;
		}
	}	
	&-search {
		justify-content: flex-start;
		align-items: center;
		padding: 15px 10px;
		background: rgb(255, 255, 255);
		font-size: 14px;
		color: $color-primary-light;
		i {
			position: relative;
			top: -1px;
			margin-right: 10px;
			transform: scale(0.7);		
		}
	}
	&-city {
		justify-content: flex-start;
		align-items: center;
		padding: 15px 10px;
		background: rgb(74, 73, 81);
		i {
			margin-right: 10px;
		}
		span {
			font-size: 1.4em;
			color: $color-light;
		}
	}
	&-auth {
		padding: 1.5em 2.5em;
		border-bottom: 1px $color-primary-light solid;
		button {
			color: $color-light;
			font-size: 1.4em;
			transition: all 0.3s ease-in-out;
			.icon {
				position: relative;
				top: 2px;
				margin-right: 0.73em;
			}
		}
		button + button {
			&::before {
				content: '';
				position: relative;
				display: inline-block;
				margin: 0 1.2em;
				height: 0.71em;
				width: 0.15em;
				background: $color-primary-light;
				transition: all 0.3s ease-in-out;
			}
		}
	}
	&-contacts {
		padding: 4.5em 2.3em 4em 2.3em;
		background: url('../img/aside_callback__bg.jpg') center bottom / cover no-repeat;
		transition: all 0.3s ease-in-out;
		&__phone {
			margin-bottom: 0.9em;
			font-size: 2.4em;
			font-weight: bold;
			letter-spacing: 1px;
			color: $color-light;
			transition: all 0.3s ease-in-out;
		}
		.button {

		}
	}
	&-social {
		padding-top: 2.2em;
	}
}

.top-mobile {
	&__header {
		display: table;
		width: 100%;
		background: rgb(255, 255, 255);
	}
	&__footer {
		overflow: hidden;
		background: rgb(47, 46, 50);
		transition: all 0.3s ease-in-out;
	}
	.site-logo {
		display: table-cell;
		width: 230px;
		padding-top: 2em;
		padding-bottom: 2.5em;
		border-right: 2px rgb(234, 234, 234) solid;
		img {
			margin-bottom: 0.3em;
		}	
		.js-modal-auth {
			margin-left: 1.3em;
			transform: scale(1.5) translateX(-75%);
		}	
	}	
	&-contacts {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		overflow: hidden;
		&__phone {
				display: inline-block;
			    margin-top: 0.3em;
			    margin-right: 2em;
			    font-size: 2.4em;
			    font-weight: bold;
			    color: $color-primary;
		}
		.js-modal-callback {
			margin-right: 5em;
		}
		.js-modal-auth {
			transform: scale(2);
			margin-right: 2em;
		}
	}
	.social {
		width: auto;
		margin-top: 0.7em;
		margin-right: 0.3em;
		&__item + .social__item {
			margin-left: 1em;
		}
	}
	.top-menu__link {
		text-transform: uppercase;
		padding: 1.4em 1.5em;
		transition: all 0.3s ease-in-out;
	}
}

.header {
	overflow: hidden;
	background: rgb(74, 72, 81);
	transition: all 0.3s ease-in-out;
	&-city {
		margin-top: 1.2em;
		margin-right: 4em;
		.icon {
			margin-right: 1.3em;
		}
		span {
			position: relative;
			top: -0.2em;
			color: $color-light;
			font-size: 1.4em;
			transition: all 0.3s ease-in-out;
		}
	}
}

.main-slider {
	position: relative;
	width: 100%;
	max-width: 1700px;
	&__item {
		position: relative;
	}
	&__image {
		img {
			width: 100%;
		}
	}
	&__desc {
		position: absolute;
		left: 4em;
		bottom: 5.5em;
		color: $color-light;
		.title {
			font-size: 4.2em;
			font-family: $font-primary;
			font-weight: bold;
			line-height: 1.2em;
			margin-bottom: 0.45em;
		}
		p {
			font-size: 2.2em;
			line-height: 1.35em;
		}
	}
	&-nav {
		button {
			position: absolute;
			top: 45%;
			border-radius: 50%;
			box-shadow: 0 0 10px 5px lighten($color-primary, 30%);
			transition: all 0.1s ease-in-out;
			&:hover {
				box-shadow: 0 0 10px 5px lighten($color-primary, 25%);
			}
			&.prev {
				left: 40px;
			}
			&.next {
				right: 40px;
			}
		}
	}
}

.main-advantages {	
	background: rgb(255, 255, 255);
	border-top: 1px rgb(215, 215, 215) solid;
	border-bottom: 1px rgb(215, 215, 215) solid;
	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2em;
		background: $section-bg-color;
		&:nth-child(even) {
			background: rgb(255, 255, 255);
		}
		.image {
			flex-shrink: 0;
			position: relative;
			width: 41px;
			height: 41px;
			background: $btn-bg-color;
			border-radius: 2em;
			text-align: center;
			.icon {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}
		}
		span {
			padding-left: 0.9em;
			font-size: 1.8em;
			font-weight: bold;
			color: $color-primary;
			line-height: 1.22em;
		}
	}
	&__item + &__item {
		border-left: 1px rgb(215, 215, 215) solid;
	}
}

.main-fast-order {
	overflow: hidden;
	display: table-row;
	&__left {
		position: relative;
		display: table-cell;
		float: none;
		padding: 8em 4em;
		background: rgb(255, 255, 255);
		.title {
			color: $color-primary;
			margin-bottom: 0.8em;
			font-size: 3.6em;
			font-weight: bold;
			line-height: 1.16em;
		}
		p {
			margin-bottom: 1.8em;
			font-size: 1.8em;
			line-height: 1.33em;
		}
		&::after {
			content: '';
			position: absolute;
			z-index: 100;
			top: 9.5em;
			right: -1.15em;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 1.25em 0 1.25em 1.2em;
			border-color: transparent transparent transparent rgb(255, 255, 255);
		}
	}
	&__right {
		position: relative;
		display: table-cell;
		float: none;
		padding: 8em 4.5em;
		background: url('../img/main_page-bg__1.jpg') center center / cover no-repeat;
		.title {
			margin-bottom: 1.9em;
			padding-bottom: 1.9em;
			font-size: 2.2em;
			font-weight: bold;
			color: $color-light;
			line-height: 1.35em;
			border-bottom: 1px rgb(215, 215, 215) solid;
		}
		p {
			font-size: 1.8em;
			line-height: 1.4em;
			color: $color-light;
		}
		i {
			position: absolute;
			bottom: 3.5em;
			right: 4.5em;
		}
	}
}

.main-competition {
	background: url('../img/main_page-bg__2.jpg') center bottom / cover no-repeat;
	padding: 8em 4em 10em 4em;
	&__head {
		overflow: hidden;
		margin-bottom: 6em;
		.title {
			max-width: 60%;
			color: $color-primary;
			font-size: 3.6em;
			font-weight: bold;
			line-height: 1.16em;
		}
		.button {
			margin-top: 1em;
			margin: 0.3em;
		}
	}
	&__content {
		img {

		}
	}
}

.main-order {
	padding: 6em 45% 7em 4em;
	background: url('../img/main_page-bg__3.jpg') right bottom / cover no-repeat;
	.title {
		margin-bottom: 1em;
		color: $color-light;
		font-size: 3.6em;
		font-weight: bold;
		line-height: 1.16em;
	}
	p {
		margin-bottom: 1.77em;
		font-size: 1.8em;
		line-height: 1.4em;
		color: $color-light;
	}
}

.main-steps {
	padding: 6.5em 3em;
	background: $section-bg-color;
	& > .title {
		margin-bottom: 2em;
		color: $color-primary;
		font-size: 3.6em;
		font-weight: bold;
		line-height: 1.16em;
		text-align: center;
	}
	&-items {
		.item {
			position: relative;
			margin-bottom: 6em;
			&__image {
				margin-bottom: 6.5em;
				img {
					max-width: 80%;
				}
			}
			&__desc {
				.title, p {
					font-size: 2em;
					line-height: 1.3em;
				}
				.title {
					min-height: 2.75em;
					margin-bottom: 1.25em;					
					font-weight: bold;
				}
			} 
			&__arrow {
				position: absolute;
				top: 5.5em;
				right: 10px;
			}
		}
	}
}

.main-guarantee {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px rgb(229, 229, 229) solid;
	&__left, &__right {
		padding: 0;
	}
	&__left {
		padding: 12.5em 4em 12.5em 4em;
		border-right: 1px rgb(229, 229, 229) solid;
		background: rgb(255, 255, 255);
		.title {
			color: $color-primary;
			margin-bottom: 0.8em;
			font-size: 3.6em;
			font-weight: bold;
			line-height: 1.16em;
		}
		p {
			margin-bottom: 1.8em;
			font-size: 1.8em;
			line-height: 1.33em;
		}
	}
	&__right {
		display: flex;
		flex-wrap: wrap;
		.col {
			width: 50%;
			padding: 4em 2.5em 11em 2.5em;			
			.title {
				position: relative;
				margin-bottom: 1.2em;
				font-size: 2.2em;
				font-weight: bold;
				line-height: 2.4em;
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					display: block;
					width: 2em;
					height: 1px;
					background: $btn-bg-color;
				}
			}
			p {
				font-size: 1.6em;
				line-height: 1.375em;
			}
			.image-left {
				position: absolute;
				bottom: 6em;
				left: 2.5em;
			}
			.image-right {
				position: absolute;
				bottom: 2.5em;
				right: 3em;
			}
			&-1 {
				background: rgb(255, 255, 255) url('../img/main_guaranty-bg__1.png') right center no-repeat;
			}
			&-2 {
				background: rgb(255, 255, 255) url('../img/main_guaranty-bg__2.png') center center / cover no-repeat;				
				.title, p {
					color: $color-light;
				}
			}
			&-3 {
				background: rgb(255, 255, 255) url('../img/main_guaranty-bg__3.png') center center / cover no-repeat;
				.image-right {
					bottom: 1em;
					right: 1em;
				}
			}
			&-4 {
				background: rgb(255, 255, 255) url('../img/main_guaranty-bg__4.png') center center / cover no-repeat;
				.title, p {
					color: $color-light;
				}
			}
		}
	}
}

.main-review {
	padding: 6.5em 4em 4.5em 4em;
	background: url('../img/main_reviews__bg.jpg') center top / cover no-repeat;
	&__head {
		overflow: hidden;
		margin-bottom: 3.8em;
		.title {
			font-size: 3.8em;
			font-weight: bold;
			color: $color-light;
		}
		.button {
			margin: 0.3em;
		}
	}
	.slick-dots {
		position: relative;
		bottom: 0;
	}
}

.main-advice {	
	padding: 6em 4em 9em 4em;
	background: $section-bg-color;
	&__head {
		overflow: hidden;
		margin-bottom: 3.5em;
		.title {
			color: $color-primary;
			font-size: 3.6em;
			font-weight: bold;
			line-height: 1.16em;
		}
		.button {
			margin: 0.3em;
		}
	}
	&-content {
		display: flex;
	}
	.advice-slider-wrap {
		.slick-dots {
			left: 0;
			bottom: -50px;
		}
	}
}

.main-bottom {
	padding: 7.5em 4.2em;
	background: $section-bg-color url('../img/main_page-bg__4.png') center top / cover no-repeat;
	p {
		margin-bottom: 2em;
		font-size: 1.4em;
		line-height: 2em;
		color: $color-primary-light;
	}
}

.main-menu-bottom {
	background: rgb(255, 255, 255);
	padding: 4.5em 4.5em 5em 4.5em;
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	&__col {
		border-right: 1px rgb(226, 226, 226) solid;
		&:last-child {
			border: none;
		}
		.title {
			margin-bottom: 1.55em;
			font-size: 1.8em;
			font-weight: bold;
			color: rgb(47, 46, 51);
			&-bottom {
				margin-bottom: 0;
				margin-top: 1.55em;
			}
		}
	}
	&__col + &__col {
		padding-left: 3em;
	}
}

.footer {
	clear: both;
	overflow: hidden;
	height: 5em;
	padding-left: 4em;
	line-height: 5em;
	border-top: 1px rgb(235, 235, 235) solid;
	background: $section-bg-color;
	&__left {

	}
	&__right {
	}
	&__mail {
		font-size: 1.4em;
		color: $color-link;
		text-decoration: underline;		
		i {
			position: relative;
			top: 0.3em;
			margin-right: 1em;
		}
		&:hover {
			color: $color-link;
			text-decoration: none;
		}
		&:visited, &:focus {
			color: $color-link!important;
		}
	}
	&__search {
		margin-left: 30px;
		padding: 0 1em;
		font-size: 1.4em;
		color: rgb(124, 114, 114);
		transition: all 0.3s ease-in-out;
		i {
			position: relative;
			top: 0.3em;
			margin-right: 1em;
		}
		&:hover {
			background: rgba(0, 0, 0, 0.1);
		}
	}
}

.product {
	&-title {
		margin-bottom: 1.9em;
		font-size: 2.2em;
		line-height: 1.4em;
		font-weight: bold;
		color: $color-primary;
	}
	&-gallery {
		float: left;
		width: 500px;
		&__main {
			margin-bottom: 20px;
			border: 1px rgb(225, 225, 225) solid;
			.item {
				height: 480px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				img {
					max-width: 90%;
				}
			}
		}
		&__thumbs {
			margin-bottom: 40px;
			.item {
				display: flex;
				justify-content: center;
				align-items: center;
				min-width: 75px;
				height: 75px;
				border: 1px rgb(225, 225, 225) solid;
				text-align: center;
				transition: all 0.2s ease-in-out;
				&.slick-current {
					border-color: $btn-bg-color;
				}
			}
			.slick-slide {
				margin: 0 10px;
			}
			.slick-list {
				margin-left: -10px;
				margin-right: -10px;
			}
		}
	}
	&-info {
		float: right;
		padding-left: 30px;
		width: calc(100% - 500px);
		&__text-desc {			
			.title {
				margin-bottom: 1.33em;
				font-size: 1.8em;
				font-weight: bold;
			}
			p {
				margin-bottom: 1.66em;
				font-size: 1.8em;
				line-height: 1.33em;
				span {
					display: inline-block;
					margin-right: 5px;
				}
			}
		}
		&__price {
			overflow: hidden;
			margin-bottom: 1em;
			padding: 0.78em 0;
			border-bottom: 1px rgb(232, 232, 232) solid;
			border-top: 1px rgb(232, 232, 232) solid;
			font-size: 3.2em;
			&-value {
				float: left;
				margin-top: 0.3em;
				font-weight: bold;
			}
			.button {
				float: right;
				min-width: auto;
			}
		}
		&__panel {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-bottom: 25px;
			.button {
				margin-bottom: 20px;
			}
		}
	}
}

.recommended {
	padding-top: 43px;
	padding-bottom: 60px;
	&-head {
		overflow: hidden;
		margin-bottom: 35px;
		&__title {
			float: left;
			margin-top: 0.2em;
			font-size: 2.2em;
			font-weight: bold;
		}
		&__right {
			float: right;
			button + button {
				margin-left: 10px;
			}
		}
	}
	&-slider {		
		&__item {	
			padding: 30px 20px;					
			background: $color-light;
			border: 1px rgb(235, 235, 235) solid;
			text-align: center;	
			color: $color-link;
			&:hover {
				color: $color-link;
			}
			.image {
				height: 130px;
				margin-bottom: 50px;
				line-height: 130px;
				img {
					display: inline-block;
					max-width: 100%;
				}
			}
			.title {
				height: 50px;
				font-size: 1.8em;
				line-height: 1.33em;			
			}			
		}
		.slick-slide {
			margin: 0 15px;
		}
		.slick-list {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}

.catalog-tizers {
	clear: both;
	&.display-list &__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.image {
			img {
				width: auto;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex-grow: 10;
		}
	}
	&__item {
		display: block;
		margin-bottom: 30px;
		&:hover {
			text-decoration: none;
		}
		.image {
			img {
				width: 100%;
			}
		}
		.content {
			padding: 20px 18px;
			border: 1px rgb(215, 215, 215) solid;
			.title {
				font-size: 2em;
				margin-bottom: 0.6em;
			}
			p {
				margin-bottom: 1.1em;
				font-size: 1.4em;
				color: rgb(125, 117, 117);
			}
			&__bottom {
				overflow: hidden;
			}
			.price {
				float: left;
				font-size: 2em;
				font-weight: bold;
				color: $btn-bg-color;
			}
			.icon {
				float: right;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.wrapper {
		display: block;
	}
	.aside {
		overflow: auto;
		z-index: 1000;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease-in-out;
		transform: translateX(-100%);
		&.active {
			transform: translate(0);
		}
		&-auth {
			padding: 15px 10px;
		}
		&-social {
			padding: 15px 0;
		}
		&-header, &-search, &-city {
			display: flex!important;
		}
	}	
}

@media screen and (max-width: 991px) {	
	.header {
		&-city {
			margin-right: 2em;
		}
	}	
	.main-advantages {	
		&__item {
			padding: 1.5em 1.2em;						
			span {
				padding-left: 0.7em;
				font-size: 1.5em;
			}
		}
	}
	.main-slider {
		&__desc {
			left: 2em;
			bottom: 4em;
			font-size: 8px;
		}
	}
	.main-fast-order {
		font-size: 9px;
		&__left {
			vertical-align: top;
			padding: 40px 15px 40px 15px;
		}
		&__right {
			vertical-align: top;
			padding: 40px 25px 40px 25px;
			i {
				display: none;
			}
		}
	}
	.main-competition {
		font-size: 9px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-order	{
		font-size: 9px;
		padding-left: 15px;
	}
	.main-steps {
		font-size: 8px;
	}
	.main-guarantee {
		font-size: 9px;
	}
	.main-review {
		font-size: 9px;
		padding-left: 15px;
		padding-right: 15px;
		.slick-slide {
			margin: 0 1em 3em 1em;
		}
		.slick-list {
			margin-right: -1em;
			margin-left: -1em;
		}
	}
	.main-advice {
		padding-left: 15px;
		padding-right: 15px;
		font-size: 9px;
	}
	.main-bottom {
		padding-top: 50px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-menu-bottom {
		padding-left: 15px;
		padding-right: 15px;
	}
	.content-section {
		padding: 30px 15px;
	}
	.product {		
		&-gallery {
			float: none;
			width: 100%;
			&__main {
				.item {
					height: auto;
				}
			}
			&__thumbs {
				.item {

				}				
			}		
		}
		&-info {
			float: none;
			padding-left: 0;
			width: 100%;
		}
	}
	.footer {
		height: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		&__left {
		}
		&__right {
			width: 100%;
			order: -1;
		}
	}
}



@media screen and (max-width: 767px) {
	.aside {
		.left-menu__item a {
			padding-left: 10px;
		}
	}
	.top-mobile {
		&__header {
			display: block;
		}
		&__footer {
			overflow: hidden;
			background: rgb(47, 46, 50);
		}
		.site-logo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 20px 10px;
			border-right: none;
			img {
				margin-bottom: 0;
			}		
		}	
		&-contacts {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: rgb(47, 46, 50);
			padding: 10px;
			text-align: center;
			&__phone {
				    margin-top: 0;
				    margin-right: 0.3em;
				    font-size: 2em;
				    font-weight: bold;
				    color: $color-light;
			}
			.js-modal-callback {
				min-width: auto;
				width: auto;
				margin-right: 0;
				padding: 0 1em;
				font-size: 1em;
			}
		}		
		.top-menu {
			width: 100%;
			background: rgb(255, 255, 255);
			&__item {
				width: 100%;
				border-bottom: 1px rgb(226, 226, 226) solid;
				&::before {
					display: none;
				}
			}
			&__link {
				width: 100%;
				text-align: center;
				color: $color-primary;
				&:hover {
					box-shadow: none;
					color: $color-light;
				}
			}
		}
	}	
	.main-slider-nav {
		button {
			transform: scale(0.8);
			top: 0;
			bottom: 0;
			margin: auto;
		}
		button.next {
			right: 5px;
		}
		button.prev {
			left: 5px;
		}
	}
	.main-advantages {	
		&__item {
			width: 50%;
			float: left;
			justify-content: flex-start;
			border-top: 1px rgb(226, 226, 226) solid;
		}
	}
	.main-fast-order {
		display: block;
		&__left {
			display: block;
		}
		&__right {
			display: block;
			font-size: 7.5px;
			padding: 20px 10px;
		}
	}
	.main-competition {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.main-order {
		background-position: left center;
		padding: 30px 15px;
	}
	.main-steps {
		padding: 30px 15px;
		&-items {
			overflow: hidden;
			margin-bottom: 10px;
			.item {
				padding: 0;
				margin-bottom: 0;
				margin-top: 7em;
				&__image {
					width: 120px;
					float: left;
				}
				&__desc {
					.title {
						min-height: auto;
						margin-bottom: 0.3em;
					}					
				}
				&__arrow {
					transform: rotate(90deg);
					top: auto;
					bottom: -25px;
					right: auto;
					left: 170px;
				}
			}
			.item + .item {
				clear: both;
			}
		}
	}
	.main-guarantee {
		&__left {
			padding: 30px 15px;
			border-right: 0;
			border-bottom: 1px rgb(229, 229, 229) solid;
		}
	}
	.main-review {
		padding: 30px 15px;
	}
}

@media screen and (max-width: 600px) {
	.content-header {
		&__title {
			font-size: 2.2em;
		}
	}
	.product {
		&-title {
			font-size: 1.8em;
		}
		&-info {
			&__text-desc {			
				.title {
					font-size: 1.4em;
				}
				p {
					font-size: 1.4em;					
				}
			}
			&__price {
				font-size: 2.4em;
				&-value {
					width: 100%;
					text-align: center;
					margin-bottom: 30px;
				}
				.button {
					width: 100%;
				}
			}
			&__panel {
				align-items: center;
				flex-direction: column;
				.button {
					margin-bottom: 20px;
				}
			}
		}
	}
	.recommended {
		padding-top: 30px;
		padding-bottom: 40px;
		&-head {
			margin-bottom: 30px;
			&__title {
				font-size: 1.8em;
			}			
		}
		&-slider {		
			&__item {					
				.title {
					height: auto;
					font-size: 1.4em;			
				}			
			}
		}
	}
}

@media screen and (max-width: 480px) {		
	.main-advantages {	
		&__item {
			width: 100%;
		}
	}
	.main-steps {
		&-items {
			.item {				
				&__image {
					width: 100px;
				}
				&__desc {					
					p {
						font-size: 1.7em;
					}
				}
				&__arrow {					
					left: 150px;
				}
			}			
		}
	}
	.main-guarantee {		
		&__right {
			.col {
				width: 100%;
				padding: 20px 20px 40px 20px;
				img {
					display: none;
				}
			}
		}
	}
}