a {
	display: inline-block;
	text-decoration: none;
	color: inherit;	
	transition: all 0.3s ease-in-out;	
}
span {
	display: inline-block;
}
button {
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
p {
	margin: 0;
	font-family: $color-primary;
}

.svgetest {
	fill: #f00;
}