.left-menu {
	&-wrap {
		
	}
	&__item {
		a {
			width: 100%;
			padding-bottom: 1em;
			padding-top: 1.125em;
			font-size: 1.6em;
			color: $color-light;
			&:hover {
				padding-left: 1.25em;
				background: rgb(78, 76, 83);
				color: $color-light;
				text-decoration: none;
			}
		}		
	}
	&__item + &__item {
		border-top: 1px rgb(78, 76, 83) solid;
	}
	&__link {

	}
}

.top-menu {
	&-wrap {
		padding-left: 2em;
	}
	&__item {
		display: block;
		float: left;
	}
	&__item + &__item {
		&::before {
			content: '';
			position: relative;
			display: inline-block;
			height: 1em;
			width: 0.2em;
			background: rgb(108, 105, 117);
		}
	}
	&__link {
		padding: 1.1em 1.8em;
		color: $color-light;
		font-size: 1.4em;
		line-height: 1;
		&:hover {
			background: rgb(108, 105, 117);
			box-shadow: 0 0 0.2em 0.2em rgb(108, 105, 117);
			color: $color-light;
			text-decoration: none;
		}
	}
}

.bottom-menu {
	&__item {}
	&__link {
		display: block;
		padding: 0.2em 0;
		color: $color-primary-light;
		font-size: 1.6em;
		line-height: 1.2em;
		&:visited, &:focus {
			text-decoration: none;
			color: $color-primary-light;
		}
		&:hover {
			color: $color-primary-light;
		}

	}
	&__item + &__item {
		margin-top: 0.8em;
	}
}