/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-about-1-name: 'icon__about-1';
$icon-about-1-x: 537px;
$icon-about-1-y: 1801px;
$icon-about-1-offset-x: -537px;
$icon-about-1-offset-y: -1801px;
$icon-about-1-width: 38px;
$icon-about-1-height: 37px;
$icon-about-1-total-width: 2440px;
$icon-about-1-total-height: 2331px;
$icon-about-1-image: '../img/sprite.png';
$icon-about-1: (537px, 1801px, -537px, -1801px, 38px, 37px, 2440px, 2331px, '../img/sprite.png', 'icon__about-1', );
$icon-about-2-name: 'icon__about-2';
$icon-about-2-x: 612px;
$icon-about-2-y: 1729px;
$icon-about-2-offset-x: -612px;
$icon-about-2-offset-y: -1729px;
$icon-about-2-width: 38px;
$icon-about-2-height: 35px;
$icon-about-2-total-width: 2440px;
$icon-about-2-total-height: 2331px;
$icon-about-2-image: '../img/sprite.png';
$icon-about-2: (612px, 1729px, -612px, -1729px, 38px, 35px, 2440px, 2331px, '../img/sprite.png', 'icon__about-2', );
$icon-about-3-name: 'icon__about-3';
$icon-about-3-x: 575px;
$icon-about-3-y: 1764px;
$icon-about-3-offset-x: -575px;
$icon-about-3-offset-y: -1764px;
$icon-about-3-width: 37px;
$icon-about-3-height: 37px;
$icon-about-3-total-width: 2440px;
$icon-about-3-total-height: 2331px;
$icon-about-3-image: '../img/sprite.png';
$icon-about-3: (575px, 1764px, -575px, -1764px, 37px, 37px, 2440px, 2331px, '../img/sprite.png', 'icon__about-3', );
$icon-about-4-name: 'icon__about-4';
$icon-about-4-x: 907px;
$icon-about-4-y: 1454px;
$icon-about-4-offset-x: -907px;
$icon-about-4-offset-y: -1454px;
$icon-about-4-width: 38px;
$icon-about-4-height: 31px;
$icon-about-4-total-width: 2440px;
$icon-about-4-total-height: 2331px;
$icon-about-4-image: '../img/sprite.png';
$icon-about-4: (907px, 1454px, -907px, -1454px, 38px, 31px, 2440px, 2331px, '../img/sprite.png', 'icon__about-4', );
$icon-arrow-angle-name: 'icon__arrow--angle';
$icon-arrow-angle-x: 945px;
$icon-arrow-angle-y: 1427px;
$icon-arrow-angle-offset-x: -945px;
$icon-arrow-angle-offset-y: -1427px;
$icon-arrow-angle-width: 36px;
$icon-arrow-angle-height: 27px;
$icon-arrow-angle-total-width: 2440px;
$icon-arrow-angle-total-height: 2331px;
$icon-arrow-angle-image: '../img/sprite.png';
$icon-arrow-angle: (945px, 1427px, -945px, -1427px, 36px, 27px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow--angle', );
$icon-arrow-down-circle-grey-name: 'icon__arrow-down-circle--grey';
$icon-arrow-down-circle-grey-x: 2014px;
$icon-arrow-down-circle-grey-y: 404px;
$icon-arrow-down-circle-grey-offset-x: -2014px;
$icon-arrow-down-circle-grey-offset-y: -404px;
$icon-arrow-down-circle-grey-width: 16px;
$icon-arrow-down-circle-grey-height: 16px;
$icon-arrow-down-circle-grey-total-width: 2440px;
$icon-arrow-down-circle-grey-total-height: 2331px;
$icon-arrow-down-circle-grey-image: '../img/sprite.png';
$icon-arrow-down-circle-grey: (2014px, 404px, -2014px, -404px, 16px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-down-circle--grey', );
$icon-arrow-down-circle-middle-grey-name: 'icon__arrow-down-circle--middle--grey';
$icon-arrow-down-circle-middle-grey-x: 1583px;
$icon-arrow-down-circle-middle-grey-y: 799px;
$icon-arrow-down-circle-middle-grey-offset-x: -1583px;
$icon-arrow-down-circle-middle-grey-offset-y: -799px;
$icon-arrow-down-circle-middle-grey-width: 23px;
$icon-arrow-down-circle-middle-grey-height: 23px;
$icon-arrow-down-circle-middle-grey-total-width: 2440px;
$icon-arrow-down-circle-middle-grey-total-height: 2331px;
$icon-arrow-down-circle-middle-grey-image: '../img/sprite.png';
$icon-arrow-down-circle-middle-grey: (1583px, 799px, -1583px, -799px, 23px, 23px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-down-circle--middle--grey', );
$icon-arrow-down-circle-red-name: 'icon__arrow-down-circle--red';
$icon-arrow-down-circle-red-x: 2030px;
$icon-arrow-down-circle-red-y: 388px;
$icon-arrow-down-circle-red-offset-x: -2030px;
$icon-arrow-down-circle-red-offset-y: -388px;
$icon-arrow-down-circle-red-width: 16px;
$icon-arrow-down-circle-red-height: 16px;
$icon-arrow-down-circle-red-total-width: 2440px;
$icon-arrow-down-circle-red-total-height: 2331px;
$icon-arrow-down-circle-red-image: '../img/sprite.png';
$icon-arrow-down-circle-red: (2030px, 388px, -2030px, -388px, 16px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-down-circle--red', );
$icon-arrow-left-circle-grey-name: 'icon__arrow-left-circle--grey';
$icon-arrow-left-circle-grey-x: 1235px;
$icon-arrow-left-circle-grey-y: 1144px;
$icon-arrow-left-circle-grey-offset-x: -1235px;
$icon-arrow-left-circle-grey-offset-y: -1144px;
$icon-arrow-left-circle-grey-width: 26px;
$icon-arrow-left-circle-grey-height: 26px;
$icon-arrow-left-circle-grey-total-width: 2440px;
$icon-arrow-left-circle-grey-total-height: 2331px;
$icon-arrow-left-circle-grey-image: '../img/sprite.png';
$icon-arrow-left-circle-grey: (1235px, 1144px, -1235px, -1144px, 26px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-left-circle--grey', );
$icon-arrow-left-circle-red-name: 'icon__arrow-left-circle--red';
$icon-arrow-left-circle-red-x: 1261px;
$icon-arrow-left-circle-red-y: 1118px;
$icon-arrow-left-circle-red-offset-x: -1261px;
$icon-arrow-left-circle-red-offset-y: -1118px;
$icon-arrow-left-circle-red-width: 26px;
$icon-arrow-left-circle-red-height: 26px;
$icon-arrow-left-circle-red-total-width: 2440px;
$icon-arrow-left-circle-red-total-height: 2331px;
$icon-arrow-left-circle-red-image: '../img/sprite.png';
$icon-arrow-left-circle-red: (1261px, 1118px, -1261px, -1118px, 26px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-left-circle--red', );
$icon-arrow-left-circle-white-name: 'icon__arrow-left-circle--white';
$icon-arrow-left-circle-white-x: 453px;
$icon-arrow-left-circle-white-y: 1880px;
$icon-arrow-left-circle-white-offset-x: -453px;
$icon-arrow-left-circle-white-offset-y: -1880px;
$icon-arrow-left-circle-white-width: 42px;
$icon-arrow-left-circle-white-height: 42px;
$icon-arrow-left-circle-white-total-width: 2440px;
$icon-arrow-left-circle-white-total-height: 2331px;
$icon-arrow-left-circle-white-image: '../img/sprite.png';
$icon-arrow-left-circle-white: (453px, 1880px, -453px, -1880px, 42px, 42px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-left-circle--white', );
$icon-arrow-left-long-grey-name: 'icon__arrow-left-long--grey';
$icon-arrow-left-long-grey-x: 1978px;
$icon-arrow-left-long-grey-y: 436px;
$icon-arrow-left-long-grey-offset-x: -1978px;
$icon-arrow-left-long-grey-offset-y: -436px;
$icon-arrow-left-long-grey-width: 20px;
$icon-arrow-left-long-grey-height: 11px;
$icon-arrow-left-long-grey-total-width: 2440px;
$icon-arrow-left-long-grey-total-height: 2331px;
$icon-arrow-left-long-grey-image: '../img/sprite.png';
$icon-arrow-left-long-grey: (1978px, 436px, -1978px, -436px, 20px, 11px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-left-long--grey', );
$icon-arrow-left-small-grey-name: 'icon__arrow-left-small--grey';
$icon-arrow-left-small-grey-x: 2384px;
$icon-arrow-left-small-grey-y: 20px;
$icon-arrow-left-small-grey-offset-x: -2384px;
$icon-arrow-left-small-grey-offset-y: -20px;
$icon-arrow-left-small-grey-width: 13px;
$icon-arrow-left-small-grey-height: 10px;
$icon-arrow-left-small-grey-total-width: 2440px;
$icon-arrow-left-small-grey-total-height: 2331px;
$icon-arrow-left-small-grey-image: '../img/sprite.png';
$icon-arrow-left-small-grey: (2384px, 20px, -2384px, -20px, 13px, 10px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-left-small--grey', );
$icon-arrow-right-circle-grey-name: 'icon__arrow-right-circle--grey';
$icon-arrow-right-circle-grey-x: 1313px;
$icon-arrow-right-circle-grey-y: 1066px;
$icon-arrow-right-circle-grey-offset-x: -1313px;
$icon-arrow-right-circle-grey-offset-y: -1066px;
$icon-arrow-right-circle-grey-width: 26px;
$icon-arrow-right-circle-grey-height: 26px;
$icon-arrow-right-circle-grey-total-width: 2440px;
$icon-arrow-right-circle-grey-total-height: 2331px;
$icon-arrow-right-circle-grey-image: '../img/sprite.png';
$icon-arrow-right-circle-grey: (1313px, 1066px, -1313px, -1066px, 26px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-right-circle--grey', );
$icon-arrow-right-circle-red-name: 'icon__arrow-right-circle--red';
$icon-arrow-right-circle-red-x: 1287px;
$icon-arrow-right-circle-red-y: 1092px;
$icon-arrow-right-circle-red-offset-x: -1287px;
$icon-arrow-right-circle-red-offset-y: -1092px;
$icon-arrow-right-circle-red-width: 26px;
$icon-arrow-right-circle-red-height: 26px;
$icon-arrow-right-circle-red-total-width: 2440px;
$icon-arrow-right-circle-red-total-height: 2331px;
$icon-arrow-right-circle-red-image: '../img/sprite.png';
$icon-arrow-right-circle-red: (1287px, 1092px, -1287px, -1092px, 26px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-right-circle--red', );
$icon-arrow-right-circle-white-name: 'icon__arrow-right-circle--white';
$icon-arrow-right-circle-white-x: 411px;
$icon-arrow-right-circle-white-y: 1922px;
$icon-arrow-right-circle-white-offset-x: -411px;
$icon-arrow-right-circle-white-offset-y: -1922px;
$icon-arrow-right-circle-white-width: 42px;
$icon-arrow-right-circle-white-height: 42px;
$icon-arrow-right-circle-white-total-width: 2440px;
$icon-arrow-right-circle-white-total-height: 2331px;
$icon-arrow-right-circle-white-image: '../img/sprite.png';
$icon-arrow-right-circle-white: (411px, 1922px, -411px, -1922px, 42px, 42px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-right-circle--white', );
$icon-arrow-right-long-grey-name: 'icon__arrow-right-long--grey';
$icon-arrow-right-long-grey-x: 1924px;
$icon-arrow-right-long-grey-y: 483px;
$icon-arrow-right-long-grey-offset-x: -1924px;
$icon-arrow-right-long-grey-offset-y: -483px;
$icon-arrow-right-long-grey-width: 21px;
$icon-arrow-right-long-grey-height: 14px;
$icon-arrow-right-long-grey-total-width: 2440px;
$icon-arrow-right-long-grey-total-height: 2331px;
$icon-arrow-right-long-grey-image: '../img/sprite.png';
$icon-arrow-right-long-grey: (1924px, 483px, -1924px, -483px, 21px, 14px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-right-long--grey', );
$icon-arrow-top-circle-blue-name: 'icon__arrow-top-circle--blue';
$icon-arrow-top-circle-blue-x: 1209px;
$icon-arrow-top-circle-blue-y: 1170px;
$icon-arrow-top-circle-blue-offset-x: -1209px;
$icon-arrow-top-circle-blue-offset-y: -1170px;
$icon-arrow-top-circle-blue-width: 26px;
$icon-arrow-top-circle-blue-height: 26px;
$icon-arrow-top-circle-blue-total-width: 2440px;
$icon-arrow-top-circle-blue-total-height: 2331px;
$icon-arrow-top-circle-blue-image: '../img/sprite.png';
$icon-arrow-top-circle-blue: (1209px, 1170px, -1209px, -1170px, 26px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-top-circle--blue', );
$icon-arrow-top-circle-grey-name: 'icon__arrow-top-circle--grey';
$icon-arrow-top-circle-grey-x: 1998px;
$icon-arrow-top-circle-grey-y: 420px;
$icon-arrow-top-circle-grey-offset-x: -1998px;
$icon-arrow-top-circle-grey-offset-y: -420px;
$icon-arrow-top-circle-grey-width: 16px;
$icon-arrow-top-circle-grey-height: 16px;
$icon-arrow-top-circle-grey-total-width: 2440px;
$icon-arrow-top-circle-grey-total-height: 2331px;
$icon-arrow-top-circle-grey-image: '../img/sprite.png';
$icon-arrow-top-circle-grey: (1998px, 420px, -1998px, -420px, 16px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-top-circle--grey', );
$icon-arrow-top-circle-large-grey-name: 'icon__arrow-top-circle--large-grey';
$icon-arrow-top-circle-large-grey-x: 1039px;
$icon-arrow-top-circle-large-grey-y: 1331px;
$icon-arrow-top-circle-large-grey-offset-x: -1039px;
$icon-arrow-top-circle-large-grey-offset-y: -1331px;
$icon-arrow-top-circle-large-grey-width: 30px;
$icon-arrow-top-circle-large-grey-height: 30px;
$icon-arrow-top-circle-large-grey-total-width: 2440px;
$icon-arrow-top-circle-large-grey-total-height: 2331px;
$icon-arrow-top-circle-large-grey-image: '../img/sprite.png';
$icon-arrow-top-circle-large-grey: (1039px, 1331px, -1039px, -1331px, 30px, 30px, 2440px, 2331px, '../img/sprite.png', 'icon__arrow-top-circle--large-grey', );
$icon-attention-name: 'icon__attention';
$icon-attention-x: 1870px;
$icon-attention-y: 533px;
$icon-attention-offset-x: -1870px;
$icon-attention-offset-y: -533px;
$icon-attention-width: 18px;
$icon-attention-height: 18px;
$icon-attention-total-width: 2440px;
$icon-attention-total-height: 2331px;
$icon-attention-image: '../img/sprite.png';
$icon-attention: (1870px, 533px, -1870px, -533px, 18px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__attention', );
$icon-auth-large-name: 'icon__auth--large';
$icon-auth-large-x: 1129px;
$icon-auth-large-y: 1244px;
$icon-auth-large-offset-x: -1129px;
$icon-auth-large-offset-y: -1244px;
$icon-auth-large-width: 24px;
$icon-auth-large-height: 32px;
$icon-auth-large-total-width: 2440px;
$icon-auth-large-total-height: 2331px;
$icon-auth-large-image: '../img/sprite.png';
$icon-auth-large: (1129px, 1244px, -1129px, -1244px, 24px, 32px, 2440px, 2331px, '../img/sprite.png', 'icon__auth--large', );
$icon-auth-name: 'icon__auth';
$icon-auth-x: 2229px;
$icon-auth-y: 198px;
$icon-auth-offset-x: -2229px;
$icon-auth-offset-y: -198px;
$icon-auth-width: 12px;
$icon-auth-height: 16px;
$icon-auth-total-width: 2440px;
$icon-auth-total-height: 2331px;
$icon-auth-image: '../img/sprite.png';
$icon-auth: (2229px, 198px, -2229px, -198px, 12px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__auth', );
$icon-badge-name: 'icon__badge';
$icon-badge-x: 1673px;
$icon-badge-y: 714px;
$icon-badge-offset-x: -1673px;
$icon-badge-offset-y: -714px;
$icon-badge-width: 21px;
$icon-badge-height: 21px;
$icon-badge-total-width: 2440px;
$icon-badge-total-height: 2331px;
$icon-badge-image: '../img/sprite.png';
$icon-badge: (1673px, 714px, -1673px, -714px, 21px, 21px, 2440px, 2331px, '../img/sprite.png', 'icon__badge', );
$icon-basket-large-name: 'icon__basket--large';
$icon-basket-large-x: 0px;
$icon-basket-large-y: 2260px;
$icon-basket-large-offset-x: 0px;
$icon-basket-large-offset-y: -2260px;
$icon-basket-large-width: 82px;
$icon-basket-large-height: 71px;
$icon-basket-large-total-width: 2440px;
$icon-basket-large-total-height: 2331px;
$icon-basket-large-image: '../img/sprite.png';
$icon-basket-large: (0px, 2260px, 0px, -2260px, 82px, 71px, 2440px, 2331px, '../img/sprite.png', 'icon__basket--large', );
$icon-basket-2-name: 'icon__basket-2';
$icon-basket-2-x: 1650px;
$icon-basket-2-y: 735px;
$icon-basket-2-offset-x: -1650px;
$icon-basket-2-offset-y: -735px;
$icon-basket-2-width: 23px;
$icon-basket-2-height: 20px;
$icon-basket-2-total-width: 2440px;
$icon-basket-2-total-height: 2331px;
$icon-basket-2-image: '../img/sprite.png';
$icon-basket-2: (1650px, 735px, -1650px, -735px, 23px, 20px, 2440px, 2331px, '../img/sprite.png', 'icon__basket-2', );
$icon-basket-name: 'icon__basket';
$icon-basket-x: 1734px;
$icon-basket-y: 659px;
$icon-basket-offset-x: -1734px;
$icon-basket-offset-y: -659px;
$icon-basket-width: 22px;
$icon-basket-height: 16px;
$icon-basket-total-width: 2440px;
$icon-basket-total-height: 2331px;
$icon-basket-image: '../img/sprite.png';
$icon-basket: (1734px, 659px, -1734px, -659px, 22px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__basket', );
$icon-calendar-name: 'icon__calendar';
$icon-calendar-x: 495px;
$icon-calendar-y: 1838px;
$icon-calendar-offset-x: -495px;
$icon-calendar-offset-y: -1838px;
$icon-calendar-width: 42px;
$icon-calendar-height: 42px;
$icon-calendar-total-width: 2440px;
$icon-calendar-total-height: 2331px;
$icon-calendar-image: '../img/sprite.png';
$icon-calendar: (495px, 1838px, -495px, -1838px, 42px, 42px, 2440px, 2331px, '../img/sprite.png', 'icon__calendar', );
$icon-cart-name: 'icon__cart';
$icon-cart-x: 866px;
$icon-cart-y: 1485px;
$icon-cart-offset-x: -866px;
$icon-cart-offset-y: -1485px;
$icon-cart-width: 41px;
$icon-cart-height: 28px;
$icon-cart-total-width: 2440px;
$icon-cart-total-height: 2331px;
$icon-cart-image: '../img/sprite.png';
$icon-cart: (866px, 1485px, -866px, -1485px, 41px, 28px, 2440px, 2331px, '../img/sprite.png', 'icon__cart', );
$icon-check-black-name: 'icon__check--black';
$icon-check-black-x: 2431px;
$icon-check-black-y: 0px;
$icon-check-black-offset-x: -2431px;
$icon-check-black-offset-y: 0px;
$icon-check-black-width: 9px;
$icon-check-black-height: 7px;
$icon-check-black-total-width: 2440px;
$icon-check-black-total-height: 2331px;
$icon-check-black-image: '../img/sprite.png';
$icon-check-black: (2431px, 0px, -2431px, 0px, 9px, 7px, 2440px, 2331px, '../img/sprite.png', 'icon__check--black', );
$icon-check-red-name: 'icon__check--red';
$icon-check-red-x: 2241px;
$icon-check-red-y: 186px;
$icon-check-red-offset-x: -2241px;
$icon-check-red-offset-y: -186px;
$icon-check-red-width: 16px;
$icon-check-red-height: 12px;
$icon-check-red-total-width: 2440px;
$icon-check-red-total-height: 2331px;
$icon-check-red-image: '../img/sprite.png';
$icon-check-red: (2241px, 186px, -2241px, -186px, 16px, 12px, 2440px, 2331px, '../img/sprite.png', 'icon__check--red', );
$icon-clip-name: 'icon__clip';
$icon-clip-x: 2100px;
$icon-clip-y: 335px;
$icon-clip-offset-x: -2100px;
$icon-clip-offset-y: -335px;
$icon-clip-width: 16px;
$icon-clip-height: 15px;
$icon-clip-total-width: 2440px;
$icon-clip-total-height: 2331px;
$icon-clip-image: '../img/sprite.png';
$icon-clip: (2100px, 335px, -2100px, -335px, 16px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__clip', );
$icon-clock-red-name: 'icon__clock--red';
$icon-clock-red-x: 1961px;
$icon-clock-red-y: 447px;
$icon-clock-red-offset-x: -1961px;
$icon-clock-red-offset-y: -447px;
$icon-clock-red-width: 17px;
$icon-clock-red-height: 17px;
$icon-clock-red-total-width: 2440px;
$icon-clock-red-total-height: 2331px;
$icon-clock-red-image: '../img/sprite.png';
$icon-clock-red: (1961px, 447px, -1961px, -447px, 17px, 17px, 2440px, 2331px, '../img/sprite.png', 'icon__clock--red', );
$icon-clock-name: 'icon__clock';
$icon-clock-x: 1446px;
$icon-clock-y: 943px;
$icon-clock-offset-x: -1446px;
$icon-clock-offset-y: -943px;
$icon-clock-width: 25px;
$icon-clock-height: 25px;
$icon-clock-total-width: 2440px;
$icon-clock-total-height: 2331px;
$icon-clock-image: '../img/sprite.png';
$icon-clock: (1446px, 943px, -1446px, -943px, 25px, 25px, 2440px, 2331px, '../img/sprite.png', 'icon__clock', );
$icon-close-large-name: 'icon__close--large';
$icon-close-large-x: 1560px;
$icon-close-large-y: 822px;
$icon-close-large-offset-x: -1560px;
$icon-close-large-offset-y: -822px;
$icon-close-large-width: 23px;
$icon-close-large-height: 23px;
$icon-close-large-total-width: 2440px;
$icon-close-large-total-height: 2331px;
$icon-close-large-image: '../img/sprite.png';
$icon-close-large: (1560px, 822px, -1560px, -822px, 23px, 23px, 2440px, 2331px, '../img/sprite.png', 'icon__close--large', );
$icon-close-white-name: 'icon__close--white';
$icon-close-white-x: 1888px;
$icon-close-white-y: 515px;
$icon-close-white-offset-x: -1888px;
$icon-close-white-offset-y: -515px;
$icon-close-white-width: 18px;
$icon-close-white-height: 18px;
$icon-close-white-total-width: 2440px;
$icon-close-white-total-height: 2331px;
$icon-close-white-image: '../img/sprite.png';
$icon-close-white: (1888px, 515px, -1888px, -515px, 18px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__close--white', );
$icon-close-name: 'icon__close';
$icon-close-x: 2046px;
$icon-close-y: 372px;
$icon-close-offset-x: -2046px;
$icon-close-offset-y: -372px;
$icon-close-width: 16px;
$icon-close-height: 16px;
$icon-close-total-width: 2440px;
$icon-close-total-height: 2331px;
$icon-close-image: '../img/sprite.png';
$icon-close: (2046px, 372px, -2046px, -372px, 16px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__close', );
$icon-eye-name: 'icon__eye';
$icon-eye-x: 2339px;
$icon-eye-y: 72px;
$icon-eye-offset-x: -2339px;
$icon-eye-offset-y: -72px;
$icon-eye-width: 14px;
$icon-eye-height: 11px;
$icon-eye-total-width: 2440px;
$icon-eye-total-height: 2331px;
$icon-eye-image: '../img/sprite.png';
$icon-eye: (2339px, 72px, -2339px, -72px, 14px, 11px, 2440px, 2331px, '../img/sprite.png', 'icon__eye', );
$icon-fb-color-name: 'icon__fb--color';
$icon-fb-color-x: 758px;
$icon-fb-color-y: 1585px;
$icon-fb-color-offset-x: -758px;
$icon-fb-color-offset-y: -1585px;
$icon-fb-color-width: 36px;
$icon-fb-color-height: 36px;
$icon-fb-color-total-width: 2440px;
$icon-fb-color-total-height: 2331px;
$icon-fb-color-image: '../img/sprite.png';
$icon-fb-color: (758px, 1585px, -758px, -1585px, 36px, 36px, 2440px, 2331px, '../img/sprite.png', 'icon__fb--color', );
$icon-geo-red-name: 'icon__geo--red';
$icon-geo-red-x: 2205px;
$icon-geo-red-y: 230px;
$icon-geo-red-offset-x: -2205px;
$icon-geo-red-offset-y: -230px;
$icon-geo-red-width: 12px;
$icon-geo-red-height: 16px;
$icon-geo-red-total-width: 2440px;
$icon-geo-red-total-height: 2331px;
$icon-geo-red-image: '../img/sprite.png';
$icon-geo-red: (2205px, 230px, -2205px, -230px, 12px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__geo--red', );
$icon-geo-name: 'icon__geo';
$icon-geo-x: 2217px;
$icon-geo-y: 214px;
$icon-geo-offset-x: -2217px;
$icon-geo-offset-y: -214px;
$icon-geo-width: 12px;
$icon-geo-height: 16px;
$icon-geo-total-width: 2440px;
$icon-geo-total-height: 2331px;
$icon-geo-image: '../img/sprite.png';
$icon-geo: (2217px, 214px, -2217px, -214px, 12px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__geo', );
$icon-gplus-name: 'icon__gplus';
$icon-gplus-x: 794px;
$icon-gplus-y: 1549px;
$icon-gplus-offset-x: -794px;
$icon-gplus-offset-y: -1549px;
$icon-gplus-width: 36px;
$icon-gplus-height: 36px;
$icon-gplus-total-width: 2440px;
$icon-gplus-total-height: 2331px;
$icon-gplus-image: '../img/sprite.png';
$icon-gplus: (794px, 1549px, -794px, -1549px, 36px, 36px, 2440px, 2331px, '../img/sprite.png', 'icon__gplus', );
$icon-grid-grey-name: 'icon__grid--grey';
$icon-grid-grey-x: 2161px;
$icon-grid-grey-y: 275px;
$icon-grid-grey-offset-x: -2161px;
$icon-grid-grey-offset-y: -275px;
$icon-grid-grey-width: 15px;
$icon-grid-grey-height: 15px;
$icon-grid-grey-total-width: 2440px;
$icon-grid-grey-total-height: 2331px;
$icon-grid-grey-image: '../img/sprite.png';
$icon-grid-grey: (2161px, 275px, -2161px, -275px, 15px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__grid--grey', );
$icon-grid-red-name: 'icon__grid--red';
$icon-grid-red-x: 2131px;
$icon-grid-red-y: 305px;
$icon-grid-red-offset-x: -2131px;
$icon-grid-red-offset-y: -305px;
$icon-grid-red-width: 15px;
$icon-grid-red-height: 15px;
$icon-grid-red-total-width: 2440px;
$icon-grid-red-total-height: 2331px;
$icon-grid-red-image: '../img/sprite.png';
$icon-grid-red: (2131px, 305px, -2131px, -305px, 15px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__grid--red', );
$icon-info-name: 'icon__info';
$icon-info-x: 2315px;
$icon-info-y: 115px;
$icon-info-offset-x: -2315px;
$icon-info-offset-y: -115px;
$icon-info-width: 8px;
$icon-info-height: 17px;
$icon-info-total-width: 2440px;
$icon-info-total-height: 2331px;
$icon-info-image: '../img/sprite.png';
$icon-info: (2315px, 115px, -2315px, -115px, 8px, 17px, 2440px, 2331px, '../img/sprite.png', 'icon__info', );
$icon-inst-name: 'icon__inst';
$icon-inst-x: 830px;
$icon-inst-y: 1513px;
$icon-inst-offset-x: -830px;
$icon-inst-offset-y: -1513px;
$icon-inst-width: 36px;
$icon-inst-height: 36px;
$icon-inst-total-width: 2440px;
$icon-inst-total-height: 2331px;
$icon-inst-image: '../img/sprite.png';
$icon-inst: (830px, 1513px, -830px, -1513px, 36px, 36px, 2440px, 2331px, '../img/sprite.png', 'icon__inst', );
$icon-key-name: 'icon__key';
$icon-key-x: 312px;
$icon-key-y: 2002px;
$icon-key-offset-x: -312px;
$icon-key-offset-y: -2002px;
$icon-key-width: 46px;
$icon-key-height: 47px;
$icon-key-total-width: 2440px;
$icon-key-total-height: 2331px;
$icon-key-image: '../img/sprite.png';
$icon-key: (312px, 2002px, -312px, -2002px, 46px, 47px, 2440px, 2331px, '../img/sprite.png', 'icon__key', );
$icon-label-name: 'icon__label';
$icon-label-x: 151px;
$icon-label-y: 2134px;
$icon-label-offset-x: -151px;
$icon-label-offset-y: -2134px;
$icon-label-width: 60px;
$icon-label-height: 61px;
$icon-label-total-width: 2440px;
$icon-label-total-height: 2331px;
$icon-label-image: '../img/sprite.png';
$icon-label: (151px, 2134px, -151px, -2134px, 60px, 61px, 2440px, 2331px, '../img/sprite.png', 'icon__label', );
$icon-lift-name: 'icon__lift';
$icon-lift-x: 211px;
$icon-lift-y: 2087px;
$icon-lift-offset-x: -211px;
$icon-lift-offset-y: -2087px;
$icon-lift-width: 47px;
$icon-lift-height: 47px;
$icon-lift-total-width: 2440px;
$icon-lift-total-height: 2331px;
$icon-lift-image: '../img/sprite.png';
$icon-lift: (211px, 2087px, -211px, -2087px, 47px, 47px, 2440px, 2331px, '../img/sprite.png', 'icon__lift', );
$icon-list-grey-name: 'icon__list--grey';
$icon-list-grey-x: 2116px;
$icon-list-grey-y: 320px;
$icon-list-grey-offset-x: -2116px;
$icon-list-grey-offset-y: -320px;
$icon-list-grey-width: 15px;
$icon-list-grey-height: 15px;
$icon-list-grey-total-width: 2440px;
$icon-list-grey-total-height: 2331px;
$icon-list-grey-image: '../img/sprite.png';
$icon-list-grey: (2116px, 320px, -2116px, -320px, 15px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__list--grey', );
$icon-list-red-name: 'icon__list--red';
$icon-list-red-x: 2146px;
$icon-list-red-y: 290px;
$icon-list-red-offset-x: -2146px;
$icon-list-red-offset-y: -290px;
$icon-list-red-width: 15px;
$icon-list-red-height: 15px;
$icon-list-red-total-width: 2440px;
$icon-list-red-total-height: 2331px;
$icon-list-red-image: '../img/sprite.png';
$icon-list-red: (2146px, 290px, -2146px, -290px, 15px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__list--red', );
$icon-loop-black-name: 'icon__loop--black';
$icon-loop-black-x: 1906px;
$icon-loop-black-y: 497px;
$icon-loop-black-offset-x: -1906px;
$icon-loop-black-offset-y: -497px;
$icon-loop-black-width: 18px;
$icon-loop-black-height: 18px;
$icon-loop-black-total-width: 2440px;
$icon-loop-black-total-height: 2331px;
$icon-loop-black-image: '../img/sprite.png';
$icon-loop-black: (1906px, 497px, -1906px, -497px, 18px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__loop--black', );
$icon-loop-name: 'icon__loop';
$icon-loop-x: 1852px;
$icon-loop-y: 551px;
$icon-loop-offset-x: -1852px;
$icon-loop-offset-y: -551px;
$icon-loop-width: 18px;
$icon-loop-height: 18px;
$icon-loop-total-width: 2440px;
$icon-loop-total-height: 2331px;
$icon-loop-image: '../img/sprite.png';
$icon-loop: (1852px, 551px, -1852px, -551px, 18px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__loop', );
$icon-mail-red-name: 'icon__mail--red';
$icon-mail-red-x: 1796px;
$icon-mail-red-y: 605px;
$icon-mail-red-offset-x: -1796px;
$icon-mail-red-offset-y: -605px;
$icon-mail-red-width: 19px;
$icon-mail-red-height: 18px;
$icon-mail-red-total-width: 2440px;
$icon-mail-red-total-height: 2331px;
$icon-mail-red-image: '../img/sprite.png';
$icon-mail-red: (1796px, 605px, -1796px, -605px, 19px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__mail--red', );
$icon-mail-name: 'icon__mail';
$icon-mail-x: 1756px;
$icon-mail-y: 642px;
$icon-mail-offset-x: -1756px;
$icon-mail-offset-y: -642px;
$icon-mail-width: 21px;
$icon-mail-height: 17px;
$icon-mail-total-width: 2440px;
$icon-mail-total-height: 2331px;
$icon-mail-image: '../img/sprite.png';
$icon-mail: (1756px, 642px, -1756px, -642px, 21px, 17px, 2440px, 2331px, '../img/sprite.png', 'icon__mail', );
$icon-mailru-name: 'icon__mailru';
$icon-mailru-x: 650px;
$icon-mailru-y: 1693px;
$icon-mailru-offset-x: -650px;
$icon-mailru-offset-y: -1693px;
$icon-mailru-width: 36px;
$icon-mailru-height: 36px;
$icon-mailru-total-width: 2440px;
$icon-mailru-total-height: 2331px;
$icon-mailru-image: '../img/sprite.png';
$icon-mailru: (650px, 1693px, -650px, -1693px, 36px, 36px, 2440px, 2331px, '../img/sprite.png', 'icon__mailru', );
$icon-message-large-red-name: 'icon__message--large--red';
$icon-message-large-red-x: 82px;
$icon-message-large-red-y: 2195px;
$icon-message-large-red-offset-x: -82px;
$icon-message-large-red-offset-y: -2195px;
$icon-message-large-red-width: 69px;
$icon-message-large-red-height: 65px;
$icon-message-large-red-total-width: 2440px;
$icon-message-large-red-total-height: 2331px;
$icon-message-large-red-image: '../img/sprite.png';
$icon-message-large-red: (82px, 2195px, -82px, -2195px, 69px, 65px, 2440px, 2331px, '../img/sprite.png', 'icon__message--large--red', );
$icon-message-name: 'icon__message';
$icon-message-x: 2353px;
$icon-message-y: 60px;
$icon-message-offset-x: -2353px;
$icon-message-offset-y: -60px;
$icon-message-width: 13px;
$icon-message-height: 12px;
$icon-message-total-width: 2440px;
$icon-message-total-height: 2331px;
$icon-message-image: '../img/sprite.png';
$icon-message: (2353px, 60px, -2353px, -60px, 13px, 12px, 2440px, 2331px, '../img/sprite.png', 'icon__message', );
$icon-minus-large-name: 'icon__minus--large';
$icon-minus-large-x: 2397px;
$icon-minus-large-y: 18px;
$icon-minus-large-offset-x: -2397px;
$icon-minus-large-offset-y: -18px;
$icon-minus-large-width: 14px;
$icon-minus-large-height: 2px;
$icon-minus-large-total-width: 2440px;
$icon-minus-large-total-height: 2331px;
$icon-minus-large-image: '../img/sprite.png';
$icon-minus-large: (2397px, 18px, -2397px, -18px, 14px, 2px, 2440px, 2331px, '../img/sprite.png', 'icon__minus--large', );
$icon-minus-name: 'icon__minus';
$icon-minus-x: 2411px;
$icon-minus-y: 16px;
$icon-minus-offset-x: -2411px;
$icon-minus-offset-y: -16px;
$icon-minus-width: 12px;
$icon-minus-height: 2px;
$icon-minus-total-width: 2440px;
$icon-minus-total-height: 2331px;
$icon-minus-image: '../img/sprite.png';
$icon-minus: (2411px, 16px, -2411px, -16px, 12px, 2px, 2440px, 2331px, '../img/sprite.png', 'icon__minus', );
$icon-phone-name: 'icon__phone';
$icon-phone-x: 1834px;
$icon-phone-y: 569px;
$icon-phone-offset-x: -1834px;
$icon-phone-offset-y: -569px;
$icon-phone-width: 18px;
$icon-phone-height: 18px;
$icon-phone-total-width: 2440px;
$icon-phone-total-height: 2331px;
$icon-phone-image: '../img/sprite.png';
$icon-phone: (1834px, 569px, -1834px, -569px, 18px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__phone', );
$icon-plus-large-name: 'icon__plus--large';
$icon-plus-large-x: 2191px;
$icon-plus-large-y: 246px;
$icon-plus-large-offset-x: -2191px;
$icon-plus-large-offset-y: -246px;
$icon-plus-large-width: 14px;
$icon-plus-large-height: 15px;
$icon-plus-large-total-width: 2440px;
$icon-plus-large-total-height: 2331px;
$icon-plus-large-image: '../img/sprite.png';
$icon-plus-large: (2191px, 246px, -2191px, -246px, 14px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__plus--large', );
$icon-plus-name: 'icon__plus';
$icon-plus-x: 2423px;
$icon-plus-y: 7px;
$icon-plus-offset-x: -2423px;
$icon-plus-offset-y: -7px;
$icon-plus-width: 8px;
$icon-plus-height: 9px;
$icon-plus-total-width: 2440px;
$icon-plus-total-height: 2331px;
$icon-plus-image: '../img/sprite.png';
$icon-plus: (2423px, 7px, -2423px, -7px, 8px, 9px, 2440px, 2331px, '../img/sprite.png', 'icon__plus', );
$icon-print-name: 'icon__print';
$icon-print-x: 1777px;
$icon-print-y: 623px;
$icon-print-offset-x: -1777px;
$icon-print-offset-y: -623px;
$icon-print-width: 19px;
$icon-print-height: 19px;
$icon-print-total-width: 2440px;
$icon-print-total-height: 2331px;
$icon-print-image: '../img/sprite.png';
$icon-print: (1777px, 623px, -1777px, -623px, 19px, 19px, 2440px, 2331px, '../img/sprite.png', 'icon__print', );
$icon-purse-name: 'icon__purse';
$icon-purse-x: 981px;
$icon-purse-y: 1398px;
$icon-purse-offset-x: -981px;
$icon-purse-offset-y: -1398px;
$icon-purse-width: 34px;
$icon-purse-height: 29px;
$icon-purse-total-width: 2440px;
$icon-purse-total-height: 2331px;
$icon-purse-image: '../img/sprite.png';
$icon-purse: (981px, 1398px, -981px, -1398px, 34px, 29px, 2440px, 2331px, '../img/sprite.png', 'icon__purse', );
$icon-quality-name: 'icon__quality';
$icon-quality-x: 1694px;
$icon-quality-y: 694px;
$icon-quality-offset-x: -1694px;
$icon-quality-offset-y: -694px;
$icon-quality-width: 20px;
$icon-quality-height: 20px;
$icon-quality-total-width: 2440px;
$icon-quality-total-height: 2331px;
$icon-quality-image: '../img/sprite.png';
$icon-quality: (1694px, 694px, -1694px, -694px, 20px, 20px, 2440px, 2331px, '../img/sprite.png', 'icon__quality', );
$icon-rating-active-name: 'icon__rating--active';
$icon-rating-active-x: 1606px;
$icon-rating-active-y: 777px;
$icon-rating-active-offset-x: -1606px;
$icon-rating-active-offset-y: -777px;
$icon-rating-active-width: 22px;
$icon-rating-active-height: 22px;
$icon-rating-active-total-width: 2440px;
$icon-rating-active-total-height: 2331px;
$icon-rating-active-image: '../img/sprite.png';
$icon-rating-active: (1606px, 777px, -1606px, -777px, 22px, 22px, 2440px, 2331px, '../img/sprite.png', 'icon__rating--active', );
$icon-rating-name: 'icon__rating';
$icon-rating-x: 1628px;
$icon-rating-y: 755px;
$icon-rating-offset-x: -1628px;
$icon-rating-offset-y: -755px;
$icon-rating-width: 22px;
$icon-rating-height: 22px;
$icon-rating-total-width: 2440px;
$icon-rating-total-height: 2331px;
$icon-rating-image: '../img/sprite.png';
$icon-rating: (1628px, 755px, -1628px, -755px, 22px, 22px, 2440px, 2331px, '../img/sprite.png', 'icon__rating', );
$icon-receipt-name: 'icon__receipt';
$icon-receipt-x: 358px;
$icon-receipt-y: 1964px;
$icon-receipt-offset-x: -358px;
$icon-receipt-offset-y: -1964px;
$icon-receipt-width: 53px;
$icon-receipt-height: 38px;
$icon-receipt-total-width: 2440px;
$icon-receipt-total-height: 2331px;
$icon-receipt-image: '../img/sprite.png';
$icon-receipt: (358px, 1964px, -358px, -1964px, 53px, 38px, 2440px, 2331px, '../img/sprite.png', 'icon__receipt', );
$icon-ruble-name: 'icon__ruble';
$icon-ruble-x: 1945px;
$icon-ruble-y: 464px;
$icon-ruble-offset-x: -1945px;
$icon-ruble-offset-y: -464px;
$icon-ruble-width: 16px;
$icon-ruble-height: 19px;
$icon-ruble-total-width: 2440px;
$icon-ruble-total-height: 2331px;
$icon-ruble-image: '../img/sprite.png';
$icon-ruble: (1945px, 464px, -1945px, -464px, 16px, 19px, 2440px, 2331px, '../img/sprite.png', 'icon__ruble', );
$icon-service-1-name: 'icon__service-1';
$icon-service-1-x: 1153px;
$icon-service-1-y: 1221px;
$icon-service-1-offset-x: -1153px;
$icon-service-1-offset-y: -1221px;
$icon-service-1-width: 29px;
$icon-service-1-height: 23px;
$icon-service-1-total-width: 2440px;
$icon-service-1-total-height: 2331px;
$icon-service-1-image: '../img/sprite.png';
$icon-service-1: (1153px, 1221px, -1153px, -1221px, 29px, 23px, 2440px, 2331px, '../img/sprite.png', 'icon__service-1', );
$icon-service-10-name: 'icon__service-10';
$icon-service-10-x: 1493px;
$icon-service-10-y: 891px;
$icon-service-10-offset-x: -1493px;
$icon-service-10-offset-y: -891px;
$icon-service-10-width: 21px;
$icon-service-10-height: 25px;
$icon-service-10-total-width: 2440px;
$icon-service-10-total-height: 2331px;
$icon-service-10-image: '../img/sprite.png';
$icon-service-10: (1493px, 891px, -1493px, -891px, 21px, 25px, 2440px, 2331px, '../img/sprite.png', 'icon__service-10', );
$icon-service-11-name: 'icon__service-11';
$icon-service-11-x: 1395px;
$icon-service-11-y: 994px;
$icon-service-11-offset-x: -1395px;
$icon-service-11-offset-y: -994px;
$icon-service-11-width: 26px;
$icon-service-11-height: 25px;
$icon-service-11-total-width: 2440px;
$icon-service-11-total-height: 2331px;
$icon-service-11-image: '../img/sprite.png';
$icon-service-11: (1395px, 994px, -1395px, -994px, 26px, 25px, 2440px, 2331px, '../img/sprite.png', 'icon__service-11', );
$icon-service-12-name: 'icon__service-12';
$icon-service-12-x: 1514px;
$icon-service-12-y: 868px;
$icon-service-12-offset-x: -1514px;
$icon-service-12-offset-y: -868px;
$icon-service-12-width: 23px;
$icon-service-12-height: 23px;
$icon-service-12-total-width: 2440px;
$icon-service-12-total-height: 2331px;
$icon-service-12-image: '../img/sprite.png';
$icon-service-12: (1514px, 868px, -1514px, -868px, 23px, 23px, 2440px, 2331px, '../img/sprite.png', 'icon__service-12', );
$icon-service-13-name: 'icon__service-13';
$icon-service-13-x: 1471px;
$icon-service-13-y: 916px;
$icon-service-13-offset-x: -1471px;
$icon-service-13-offset-y: -916px;
$icon-service-13-width: 22px;
$icon-service-13-height: 27px;
$icon-service-13-total-width: 2440px;
$icon-service-13-total-height: 2331px;
$icon-service-13-image: '../img/sprite.png';
$icon-service-13: (1471px, 916px, -1471px, -916px, 22px, 27px, 2440px, 2331px, '../img/sprite.png', 'icon__service-13', );
$icon-service-2-name: 'icon__service-2';
$icon-service-2-x: 1069px;
$icon-service-2-y: 1302px;
$icon-service-2-offset-x: -1069px;
$icon-service-2-offset-y: -1302px;
$icon-service-2-width: 29px;
$icon-service-2-height: 29px;
$icon-service-2-total-width: 2440px;
$icon-service-2-total-height: 2331px;
$icon-service-2-image: '../img/sprite.png';
$icon-service-2: (1069px, 1302px, -1069px, -1302px, 29px, 29px, 2440px, 2331px, '../img/sprite.png', 'icon__service-2', );
$icon-service-3-name: 'icon__service-3';
$icon-service-3-x: 1421px;
$icon-service-3-y: 968px;
$icon-service-3-offset-x: -1421px;
$icon-service-3-offset-y: -968px;
$icon-service-3-width: 25px;
$icon-service-3-height: 26px;
$icon-service-3-total-width: 2440px;
$icon-service-3-total-height: 2331px;
$icon-service-3-image: '../img/sprite.png';
$icon-service-3: (1421px, 968px, -1421px, -968px, 25px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__service-3', );
$icon-service-4-name: 'icon__service-4';
$icon-service-4-x: 1339px;
$icon-service-4-y: 1040px;
$icon-service-4-offset-x: -1339px;
$icon-service-4-offset-y: -1040px;
$icon-service-4-width: 26px;
$icon-service-4-height: 26px;
$icon-service-4-total-width: 2440px;
$icon-service-4-total-height: 2331px;
$icon-service-4-image: '../img/sprite.png';
$icon-service-4: (1339px, 1040px, -1339px, -1040px, 26px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__service-4', );
$icon-service-5-name: 'icon__service-5';
$icon-service-5-x: 1098px;
$icon-service-5-y: 1276px;
$icon-service-5-offset-x: -1098px;
$icon-service-5-offset-y: -1276px;
$icon-service-5-width: 31px;
$icon-service-5-height: 26px;
$icon-service-5-total-width: 2440px;
$icon-service-5-total-height: 2331px;
$icon-service-5-image: '../img/sprite.png';
$icon-service-5: (1098px, 1276px, -1098px, -1276px, 31px, 26px, 2440px, 2331px, '../img/sprite.png', 'icon__service-5', );
$icon-service-6-name: 'icon__service-6';
$icon-service-6-x: 1537px;
$icon-service-6-y: 845px;
$icon-service-6-offset-x: -1537px;
$icon-service-6-offset-y: -845px;
$icon-service-6-width: 23px;
$icon-service-6-height: 23px;
$icon-service-6-total-width: 2440px;
$icon-service-6-total-height: 2331px;
$icon-service-6-image: '../img/sprite.png';
$icon-service-6: (1537px, 845px, -1537px, -845px, 23px, 23px, 2440px, 2331px, '../img/sprite.png', 'icon__service-6', );
$icon-service-7-name: 'icon__service-7';
$icon-service-7-x: 1365px;
$icon-service-7-y: 1019px;
$icon-service-7-offset-x: -1365px;
$icon-service-7-offset-y: -1019px;
$icon-service-7-width: 30px;
$icon-service-7-height: 21px;
$icon-service-7-total-width: 2440px;
$icon-service-7-total-height: 2331px;
$icon-service-7-image: '../img/sprite.png';
$icon-service-7: (1365px, 1019px, -1365px, -1019px, 30px, 21px, 2440px, 2331px, '../img/sprite.png', 'icon__service-7', );
$icon-service-8-name: 'icon__service-8';
$icon-service-8-x: 1182px;
$icon-service-8-y: 1196px;
$icon-service-8-offset-x: -1182px;
$icon-service-8-offset-y: -1196px;
$icon-service-8-width: 27px;
$icon-service-8-height: 25px;
$icon-service-8-total-width: 2440px;
$icon-service-8-total-height: 2331px;
$icon-service-8-image: '../img/sprite.png';
$icon-service-8: (1182px, 1196px, -1182px, -1196px, 27px, 25px, 2440px, 2331px, '../img/sprite.png', 'icon__service-8', );
$icon-service-9-name: 'icon__service-9';
$icon-service-9-x: 1015px;
$icon-service-9-y: 1361px;
$icon-service-9-offset-x: -1015px;
$icon-service-9-offset-y: -1361px;
$icon-service-9-width: 24px;
$icon-service-9-height: 37px;
$icon-service-9-total-width: 2440px;
$icon-service-9-total-height: 2331px;
$icon-service-9-image: '../img/sprite.png';
$icon-service-9: (1015px, 1361px, -1015px, -1361px, 24px, 37px, 2440px, 2331px, '../img/sprite.png', 'icon__service-9', );
$icon-show-more-name: 'icon__show-more';
$icon-show-more-x: 2287px;
$icon-show-more-y: 146px;
$icon-show-more-offset-x: -2287px;
$icon-show-more-offset-y: -146px;
$icon-show-more-width: 14px;
$icon-show-more-height: 14px;
$icon-show-more-total-width: 2440px;
$icon-show-more-total-height: 2331px;
$icon-show-more-image: '../img/sprite.png';
$icon-show-more: (2287px, 146px, -2287px, -146px, 14px, 14px, 2440px, 2331px, '../img/sprite.png', 'icon__show-more', );
$icon-size-name: 'icon__size';
$icon-size-x: 2301px;
$icon-size-y: 132px;
$icon-size-offset-x: -2301px;
$icon-size-offset-y: -132px;
$icon-size-width: 14px;
$icon-size-height: 14px;
$icon-size-total-width: 2440px;
$icon-size-total-height: 2331px;
$icon-size-image: '../img/sprite.png';
$icon-size: (2301px, 132px, -2301px, -132px, 14px, 14px, 2440px, 2331px, '../img/sprite.png', 'icon__size', );
$icon-social-fb-red-name: 'icon__social__fb--red';
$icon-social-fb-red-x: 2323px;
$icon-social-fb-red-y: 99px;
$icon-social-fb-red-offset-x: -2323px;
$icon-social-fb-red-offset-y: -99px;
$icon-social-fb-red-width: 8px;
$icon-social-fb-red-height: 16px;
$icon-social-fb-red-total-width: 2440px;
$icon-social-fb-red-total-height: 2331px;
$icon-social-fb-red-image: '../img/sprite.png';
$icon-social-fb-red: (2323px, 99px, -2323px, -99px, 8px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__social__fb--red', );
$icon-social-fb-name: 'icon__social__fb';
$icon-social-fb-x: 2331px;
$icon-social-fb-y: 83px;
$icon-social-fb-offset-x: -2331px;
$icon-social-fb-offset-y: -83px;
$icon-social-fb-width: 8px;
$icon-social-fb-height: 16px;
$icon-social-fb-total-width: 2440px;
$icon-social-fb-total-height: 2331px;
$icon-social-fb-image: '../img/sprite.png';
$icon-social-fb: (2331px, 83px, -2331px, -83px, 8px, 16px, 2440px, 2331px, '../img/sprite.png', 'icon__social__fb', );
$icon-social-ok-red-name: 'icon__social__ok--red';
$icon-social-ok-red-x: 2375px;
$icon-social-ok-red-y: 30px;
$icon-social-ok-red-offset-x: -2375px;
$icon-social-ok-red-offset-y: -30px;
$icon-social-ok-red-width: 9px;
$icon-social-ok-red-height: 15px;
$icon-social-ok-red-total-width: 2440px;
$icon-social-ok-red-total-height: 2331px;
$icon-social-ok-red-image: '../img/sprite.png';
$icon-social-ok-red: (2375px, 30px, -2375px, -30px, 9px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__social__ok--red', );
$icon-social-ok-name: 'icon__social__ok';
$icon-social-ok-x: 2366px;
$icon-social-ok-y: 45px;
$icon-social-ok-offset-x: -2366px;
$icon-social-ok-offset-y: -45px;
$icon-social-ok-width: 9px;
$icon-social-ok-height: 15px;
$icon-social-ok-total-width: 2440px;
$icon-social-ok-total-height: 2331px;
$icon-social-ok-image: '../img/sprite.png';
$icon-social-ok: (2366px, 45px, -2366px, -45px, 9px, 15px, 2440px, 2331px, '../img/sprite.png', 'icon__social__ok', );
$icon-social-tw-red-name: 'icon__social__tw--red';
$icon-social-tw-red-x: 2257px;
$icon-social-tw-red-y: 173px;
$icon-social-tw-red-offset-x: -2257px;
$icon-social-tw-red-offset-y: -173px;
$icon-social-tw-red-width: 15px;
$icon-social-tw-red-height: 13px;
$icon-social-tw-red-total-width: 2440px;
$icon-social-tw-red-total-height: 2331px;
$icon-social-tw-red-image: '../img/sprite.png';
$icon-social-tw-red: (2257px, 173px, -2257px, -173px, 15px, 13px, 2440px, 2331px, '../img/sprite.png', 'icon__social__tw--red', );
$icon-social-tw-name: 'icon__social__tw';
$icon-social-tw-x: 2272px;
$icon-social-tw-y: 160px;
$icon-social-tw-offset-x: -2272px;
$icon-social-tw-offset-y: -160px;
$icon-social-tw-width: 15px;
$icon-social-tw-height: 13px;
$icon-social-tw-total-width: 2440px;
$icon-social-tw-total-height: 2331px;
$icon-social-tw-image: '../img/sprite.png';
$icon-social-tw: (2272px, 160px, -2272px, -160px, 15px, 13px, 2440px, 2331px, '../img/sprite.png', 'icon__social__tw', );
$icon-social-vk-red-name: 'icon__social__vk--red';
$icon-social-vk-red-x: 2062px;
$icon-social-vk-red-y: 361px;
$icon-social-vk-red-offset-x: -2062px;
$icon-social-vk-red-offset-y: -361px;
$icon-social-vk-red-width: 19px;
$icon-social-vk-red-height: 11px;
$icon-social-vk-red-total-width: 2440px;
$icon-social-vk-red-total-height: 2331px;
$icon-social-vk-red-image: '../img/sprite.png';
$icon-social-vk-red: (2062px, 361px, -2062px, -361px, 19px, 11px, 2440px, 2331px, '../img/sprite.png', 'icon__social__vk--red', );
$icon-social-vk-name: 'icon__social__vk';
$icon-social-vk-x: 2081px;
$icon-social-vk-y: 350px;
$icon-social-vk-offset-x: -2081px;
$icon-social-vk-offset-y: -350px;
$icon-social-vk-width: 19px;
$icon-social-vk-height: 11px;
$icon-social-vk-total-width: 2440px;
$icon-social-vk-total-height: 2331px;
$icon-social-vk-image: '../img/sprite.png';
$icon-social-vk: (2081px, 350px, -2081px, -350px, 19px, 11px, 2440px, 2331px, '../img/sprite.png', 'icon__social__vk', );
$icon-thumb-up-name: 'icon__thumb-up';
$icon-thumb-up-x: 1714px;
$icon-thumb-up-y: 675px;
$icon-thumb-up-offset-x: -1714px;
$icon-thumb-up-offset-y: -675px;
$icon-thumb-up-width: 20px;
$icon-thumb-up-height: 19px;
$icon-thumb-up-total-width: 2440px;
$icon-thumb-up-total-height: 2331px;
$icon-thumb-up-image: '../img/sprite.png';
$icon-thumb-up: (1714px, 675px, -1714px, -675px, 20px, 19px, 2440px, 2331px, '../img/sprite.png', 'icon__thumb-up', );
$icon-truck-name: 'icon__truck';
$icon-truck-x: 258px;
$icon-truck-y: 2049px;
$icon-truck-offset-x: -258px;
$icon-truck-offset-y: -2049px;
$icon-truck-width: 54px;
$icon-truck-height: 38px;
$icon-truck-total-width: 2440px;
$icon-truck-total-height: 2331px;
$icon-truck-image: '../img/sprite.png';
$icon-truck: (258px, 2049px, -258px, -2049px, 54px, 38px, 2440px, 2331px, '../img/sprite.png', 'icon__truck', );
$icon-user-white-name: 'icon__user--white';
$icon-user-white-x: 1815px;
$icon-user-white-y: 587px;
$icon-user-white-offset-x: -1815px;
$icon-user-white-offset-y: -587px;
$icon-user-white-width: 19px;
$icon-user-white-height: 18px;
$icon-user-white-total-width: 2440px;
$icon-user-white-total-height: 2331px;
$icon-user-white-image: '../img/sprite.png';
$icon-user-white: (1815px, 587px, -1815px, -587px, 19px, 18px, 2440px, 2331px, '../img/sprite.png', 'icon__user--white', );
$icon-user-name: 'icon__user';
$icon-user-x: 2176px;
$icon-user-y: 261px;
$icon-user-offset-x: -2176px;
$icon-user-offset-y: -261px;
$icon-user-width: 15px;
$icon-user-height: 14px;
$icon-user-total-width: 2440px;
$icon-user-total-height: 2331px;
$icon-user-image: '../img/sprite.png';
$icon-user: (2176px, 261px, -2176px, -261px, 15px, 14px, 2440px, 2331px, '../img/sprite.png', 'icon__user', );
$icon-vk-color-name: 'icon__vk--color';
$icon-vk-color-x: 722px;
$icon-vk-color-y: 1621px;
$icon-vk-color-offset-x: -722px;
$icon-vk-color-offset-y: -1621px;
$icon-vk-color-width: 36px;
$icon-vk-color-height: 36px;
$icon-vk-color-total-width: 2440px;
$icon-vk-color-total-height: 2331px;
$icon-vk-color-image: '../img/sprite.png';
$icon-vk-color: (722px, 1621px, -722px, -1621px, 36px, 36px, 2440px, 2331px, '../img/sprite.png', 'icon__vk--color', );
$icon-yandex-name: 'icon__yandex';
$icon-yandex-x: 686px;
$icon-yandex-y: 1657px;
$icon-yandex-offset-x: -686px;
$icon-yandex-offset-y: -1657px;
$icon-yandex-width: 36px;
$icon-yandex-height: 36px;
$icon-yandex-total-width: 2440px;
$icon-yandex-total-height: 2331px;
$icon-yandex-image: '../img/sprite.png';
$icon-yandex: (686px, 1657px, -686px, -1657px, 36px, 36px, 2440px, 2331px, '../img/sprite.png', 'icon__yandex', );
$spritesheet-width: 2440px;
$spritesheet-height: 2331px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-about-1, $icon-about-2, $icon-about-3, $icon-about-4, $icon-arrow-angle, $icon-arrow-down-circle-grey, $icon-arrow-down-circle-middle-grey, $icon-arrow-down-circle-red, $icon-arrow-left-circle-grey, $icon-arrow-left-circle-red, $icon-arrow-left-circle-white, $icon-arrow-left-long-grey, $icon-arrow-left-small-grey, $icon-arrow-right-circle-grey, $icon-arrow-right-circle-red, $icon-arrow-right-circle-white, $icon-arrow-right-long-grey, $icon-arrow-top-circle-blue, $icon-arrow-top-circle-grey, $icon-arrow-top-circle-large-grey, $icon-attention, $icon-auth-large, $icon-auth, $icon-badge, $icon-basket-large, $icon-basket-2, $icon-basket, $icon-calendar, $icon-cart, $icon-check-black, $icon-check-red, $icon-clip, $icon-clock-red, $icon-clock, $icon-close-large, $icon-close-white, $icon-close, $icon-eye, $icon-fb-color, $icon-geo-red, $icon-geo, $icon-gplus, $icon-grid-grey, $icon-grid-red, $icon-info, $icon-inst, $icon-key, $icon-label, $icon-lift, $icon-list-grey, $icon-list-red, $icon-loop-black, $icon-loop, $icon-mail-red, $icon-mail, $icon-mailru, $icon-message-large-red, $icon-message, $icon-minus-large, $icon-minus, $icon-phone, $icon-plus-large, $icon-plus, $icon-print, $icon-purse, $icon-quality, $icon-rating-active, $icon-rating, $icon-receipt, $icon-ruble, $icon-service-1, $icon-service-10, $icon-service-11, $icon-service-12, $icon-service-13, $icon-service-2, $icon-service-3, $icon-service-4, $icon-service-5, $icon-service-6, $icon-service-7, $icon-service-8, $icon-service-9, $icon-show-more, $icon-size, $icon-social-fb-red, $icon-social-fb, $icon-social-ok-red, $icon-social-ok, $icon-social-tw-red, $icon-social-tw, $icon-social-vk-red, $icon-social-vk, $icon-thumb-up, $icon-truck, $icon-user-white, $icon-user, $icon-vk-color, $icon-yandex, );
$spritesheet: (2440px, 2331px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
