/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-arrow-left-circle-grey-name: 'icon__arrow-left-circle--grey';
$icon-arrow-left-circle-grey-x: 144px;
$icon-arrow-left-circle-grey-y: 474px;
$icon-arrow-left-circle-grey-offset-x: -144px;
$icon-arrow-left-circle-grey-offset-y: -474px;
$icon-arrow-left-circle-grey-width: 26px;
$icon-arrow-left-circle-grey-height: 26px;
$icon-arrow-left-circle-grey-total-width: 639px;
$icon-arrow-left-circle-grey-total-height: 645px;
$icon-arrow-left-circle-grey-image: '../img/sprite.png';
$icon-arrow-left-circle-grey: (144px, 474px, -144px, -474px, 26px, 26px, 639px, 645px, '../img/sprite.png', 'icon__arrow-left-circle--grey', );
$icon-arrow-left-circle-red-name: 'icon__arrow-left-circle--red';
$icon-arrow-left-circle-red-x: 222px;
$icon-arrow-left-circle-red-y: 396px;
$icon-arrow-left-circle-red-offset-x: -222px;
$icon-arrow-left-circle-red-offset-y: -396px;
$icon-arrow-left-circle-red-width: 26px;
$icon-arrow-left-circle-red-height: 26px;
$icon-arrow-left-circle-red-total-width: 639px;
$icon-arrow-left-circle-red-total-height: 645px;
$icon-arrow-left-circle-red-image: '../img/sprite.png';
$icon-arrow-left-circle-red: (222px, 396px, -222px, -396px, 26px, 26px, 639px, 645px, '../img/sprite.png', 'icon__arrow-left-circle--red', );
$icon-arrow-left-circle-white-name: 'icon__arrow-left-circle--white';
$icon-arrow-left-circle-white-x: 60px;
$icon-arrow-left-circle-white-y: 542px;
$icon-arrow-left-circle-white-offset-x: -60px;
$icon-arrow-left-circle-white-offset-y: -542px;
$icon-arrow-left-circle-white-width: 42px;
$icon-arrow-left-circle-white-height: 42px;
$icon-arrow-left-circle-white-total-width: 639px;
$icon-arrow-left-circle-white-total-height: 645px;
$icon-arrow-left-circle-white-image: '../img/sprite.png';
$icon-arrow-left-circle-white: (60px, 542px, -60px, -542px, 42px, 42px, 639px, 645px, '../img/sprite.png', 'icon__arrow-left-circle--white', );
$icon-arrow-left-long-grey-name: 'icon__arrow-left-long--grey';
$icon-arrow-left-long-grey-x: 471px;
$icon-arrow-left-long-grey-y: 173px;
$icon-arrow-left-long-grey-offset-x: -471px;
$icon-arrow-left-long-grey-offset-y: -173px;
$icon-arrow-left-long-grey-width: 20px;
$icon-arrow-left-long-grey-height: 11px;
$icon-arrow-left-long-grey-total-width: 639px;
$icon-arrow-left-long-grey-total-height: 645px;
$icon-arrow-left-long-grey-image: '../img/sprite.png';
$icon-arrow-left-long-grey: (471px, 173px, -471px, -173px, 20px, 11px, 639px, 645px, '../img/sprite.png', 'icon__arrow-left-long--grey', );
$icon-arrow-right-circle-grey-name: 'icon__arrow-right-circle--grey';
$icon-arrow-right-circle-grey-x: 170px;
$icon-arrow-right-circle-grey-y: 448px;
$icon-arrow-right-circle-grey-offset-x: -170px;
$icon-arrow-right-circle-grey-offset-y: -448px;
$icon-arrow-right-circle-grey-width: 26px;
$icon-arrow-right-circle-grey-height: 26px;
$icon-arrow-right-circle-grey-total-width: 639px;
$icon-arrow-right-circle-grey-total-height: 645px;
$icon-arrow-right-circle-grey-image: '../img/sprite.png';
$icon-arrow-right-circle-grey: (170px, 448px, -170px, -448px, 26px, 26px, 639px, 645px, '../img/sprite.png', 'icon__arrow-right-circle--grey', );
$icon-arrow-right-circle-red-name: 'icon__arrow-right-circle--red';
$icon-arrow-right-circle-red-x: 196px;
$icon-arrow-right-circle-red-y: 422px;
$icon-arrow-right-circle-red-offset-x: -196px;
$icon-arrow-right-circle-red-offset-y: -422px;
$icon-arrow-right-circle-red-width: 26px;
$icon-arrow-right-circle-red-height: 26px;
$icon-arrow-right-circle-red-total-width: 639px;
$icon-arrow-right-circle-red-total-height: 645px;
$icon-arrow-right-circle-red-image: '../img/sprite.png';
$icon-arrow-right-circle-red: (196px, 422px, -196px, -422px, 26px, 26px, 639px, 645px, '../img/sprite.png', 'icon__arrow-right-circle--red', );
$icon-arrow-right-circle-white-name: 'icon__arrow-right-circle--white';
$icon-arrow-right-circle-white-x: 102px;
$icon-arrow-right-circle-white-y: 500px;
$icon-arrow-right-circle-white-offset-x: -102px;
$icon-arrow-right-circle-white-offset-y: -500px;
$icon-arrow-right-circle-white-width: 42px;
$icon-arrow-right-circle-white-height: 42px;
$icon-arrow-right-circle-white-total-width: 639px;
$icon-arrow-right-circle-white-total-height: 645px;
$icon-arrow-right-circle-white-image: '../img/sprite.png';
$icon-arrow-right-circle-white: (102px, 500px, -102px, -500px, 42px, 42px, 639px, 645px, '../img/sprite.png', 'icon__arrow-right-circle--white', );
$icon-auth-name: 'icon__auth';
$icon-auth-x: 541px;
$icon-auth-y: 119px;
$icon-auth-offset-x: -541px;
$icon-auth-offset-y: -119px;
$icon-auth-width: 12px;
$icon-auth-height: 16px;
$icon-auth-total-width: 639px;
$icon-auth-total-height: 645px;
$icon-auth-image: '../img/sprite.png';
$icon-auth: (541px, 119px, -541px, -119px, 12px, 16px, 639px, 645px, '../img/sprite.png', 'icon__auth', );
$icon-badge-name: 'icon__badge';
$icon-badge-x: 296px;
$icon-badge-y: 330px;
$icon-badge-offset-x: -296px;
$icon-badge-offset-y: -330px;
$icon-badge-width: 21px;
$icon-badge-height: 21px;
$icon-badge-total-width: 639px;
$icon-badge-total-height: 645px;
$icon-badge-image: '../img/sprite.png';
$icon-badge: (296px, 330px, -296px, -330px, 21px, 21px, 639px, 645px, '../img/sprite.png', 'icon__badge', );
$icon-basket-2-name: 'icon__basket-2';
$icon-basket-2-x: 273px;
$icon-basket-2-y: 351px;
$icon-basket-2-offset-x: -273px;
$icon-basket-2-offset-y: -351px;
$icon-basket-2-width: 23px;
$icon-basket-2-height: 20px;
$icon-basket-2-total-width: 639px;
$icon-basket-2-total-height: 645px;
$icon-basket-2-image: '../img/sprite.png';
$icon-basket-2: (273px, 351px, -273px, -351px, 23px, 20px, 639px, 645px, '../img/sprite.png', 'icon__basket-2', );
$icon-basket-name: 'icon__basket';
$icon-basket-x: 357px;
$icon-basket-y: 275px;
$icon-basket-offset-x: -357px;
$icon-basket-offset-y: -275px;
$icon-basket-width: 22px;
$icon-basket-height: 16px;
$icon-basket-total-width: 639px;
$icon-basket-total-height: 645px;
$icon-basket-image: '../img/sprite.png';
$icon-basket: (357px, 275px, -357px, -275px, 22px, 16px, 639px, 645px, '../img/sprite.png', 'icon__basket', );
$icon-clock-name: 'icon__clock';
$icon-clock-x: 248px;
$icon-clock-y: 371px;
$icon-clock-offset-x: -248px;
$icon-clock-offset-y: -371px;
$icon-clock-width: 25px;
$icon-clock-height: 25px;
$icon-clock-total-width: 639px;
$icon-clock-total-height: 645px;
$icon-clock-image: '../img/sprite.png';
$icon-clock: (248px, 371px, -248px, -371px, 25px, 25px, 639px, 645px, '../img/sprite.png', 'icon__clock', );
$icon-geo-name: 'icon__geo';
$icon-geo-x: 529px;
$icon-geo-y: 135px;
$icon-geo-offset-x: -529px;
$icon-geo-offset-y: -135px;
$icon-geo-width: 12px;
$icon-geo-height: 16px;
$icon-geo-total-width: 639px;
$icon-geo-total-height: 645px;
$icon-geo-image: '../img/sprite.png';
$icon-geo: (529px, 135px, -529px, -135px, 12px, 16px, 639px, 645px, '../img/sprite.png', 'icon__geo', );
$icon-info-name: 'icon__info';
$icon-info-x: 597px;
$icon-info-y: 62px;
$icon-info-offset-x: -597px;
$icon-info-offset-y: -62px;
$icon-info-width: 8px;
$icon-info-height: 17px;
$icon-info-total-width: 639px;
$icon-info-total-height: 645px;
$icon-info-image: '../img/sprite.png';
$icon-info: (597px, 62px, -597px, -62px, 8px, 17px, 639px, 645px, '../img/sprite.png', 'icon__info', );
$icon-label-name: 'icon__label';
$icon-label-x: 0px;
$icon-label-y: 584px;
$icon-label-offset-x: 0px;
$icon-label-offset-y: -584px;
$icon-label-width: 60px;
$icon-label-height: 61px;
$icon-label-total-width: 639px;
$icon-label-total-height: 645px;
$icon-label-image: '../img/sprite.png';
$icon-label: (0px, 584px, 0px, -584px, 60px, 61px, 639px, 645px, '../img/sprite.png', 'icon__label', );
$icon-loop-black-name: 'icon__loop--black';
$icon-loop-black-x: 437px;
$icon-loop-black-y: 203px;
$icon-loop-black-offset-x: -437px;
$icon-loop-black-offset-y: -203px;
$icon-loop-black-width: 18px;
$icon-loop-black-height: 18px;
$icon-loop-black-total-width: 639px;
$icon-loop-black-total-height: 645px;
$icon-loop-black-image: '../img/sprite.png';
$icon-loop-black: (437px, 203px, -437px, -203px, 18px, 18px, 639px, 645px, '../img/sprite.png', 'icon__loop--black', );
$icon-loop-name: 'icon__loop';
$icon-loop-x: 419px;
$icon-loop-y: 221px;
$icon-loop-offset-x: -419px;
$icon-loop-offset-y: -221px;
$icon-loop-width: 18px;
$icon-loop-height: 18px;
$icon-loop-total-width: 639px;
$icon-loop-total-height: 645px;
$icon-loop-image: '../img/sprite.png';
$icon-loop: (419px, 221px, -419px, -221px, 18px, 18px, 639px, 645px, '../img/sprite.png', 'icon__loop', );
$icon-mail-name: 'icon__mail';
$icon-mail-x: 379px;
$icon-mail-y: 258px;
$icon-mail-offset-x: -379px;
$icon-mail-offset-y: -258px;
$icon-mail-width: 21px;
$icon-mail-height: 17px;
$icon-mail-total-width: 639px;
$icon-mail-total-height: 645px;
$icon-mail-image: '../img/sprite.png';
$icon-mail: (379px, 258px, -379px, -258px, 21px, 17px, 639px, 645px, '../img/sprite.png', 'icon__mail', );
$icon-print-name: 'icon__print';
$icon-print-x: 400px;
$icon-print-y: 239px;
$icon-print-offset-x: -400px;
$icon-print-offset-y: -239px;
$icon-print-width: 19px;
$icon-print-height: 19px;
$icon-print-total-width: 639px;
$icon-print-total-height: 645px;
$icon-print-image: '../img/sprite.png';
$icon-print: (400px, 239px, -400px, -239px, 19px, 19px, 639px, 645px, '../img/sprite.png', 'icon__print', );
$icon-quality-name: 'icon__quality';
$icon-quality-x: 317px;
$icon-quality-y: 310px;
$icon-quality-offset-x: -317px;
$icon-quality-offset-y: -310px;
$icon-quality-width: 20px;
$icon-quality-height: 20px;
$icon-quality-total-width: 639px;
$icon-quality-total-height: 645px;
$icon-quality-image: '../img/sprite.png';
$icon-quality: (317px, 310px, -317px, -310px, 20px, 20px, 639px, 645px, '../img/sprite.png', 'icon__quality', );
$icon-ruble-name: 'icon__ruble';
$icon-ruble-x: 455px;
$icon-ruble-y: 184px;
$icon-ruble-offset-x: -455px;
$icon-ruble-offset-y: -184px;
$icon-ruble-width: 16px;
$icon-ruble-height: 19px;
$icon-ruble-total-width: 639px;
$icon-ruble-total-height: 645px;
$icon-ruble-image: '../img/sprite.png';
$icon-ruble: (455px, 184px, -455px, -184px, 16px, 19px, 639px, 645px, '../img/sprite.png', 'icon__ruble', );
$icon-size-name: 'icon__size';
$icon-size-x: 583px;
$icon-size-y: 79px;
$icon-size-offset-x: -583px;
$icon-size-offset-y: -79px;
$icon-size-width: 14px;
$icon-size-height: 14px;
$icon-size-total-width: 639px;
$icon-size-total-height: 645px;
$icon-size-image: '../img/sprite.png';
$icon-size: (583px, 79px, -583px, -79px, 14px, 14px, 639px, 645px, '../img/sprite.png', 'icon__size', );
$icon-social-fb-red-name: 'icon__social__fb--red';
$icon-social-fb-red-x: 613px;
$icon-social-fb-red-y: 30px;
$icon-social-fb-red-offset-x: -613px;
$icon-social-fb-red-offset-y: -30px;
$icon-social-fb-red-width: 8px;
$icon-social-fb-red-height: 16px;
$icon-social-fb-red-total-width: 639px;
$icon-social-fb-red-total-height: 645px;
$icon-social-fb-red-image: '../img/sprite.png';
$icon-social-fb-red: (613px, 30px, -613px, -30px, 8px, 16px, 639px, 645px, '../img/sprite.png', 'icon__social__fb--red', );
$icon-social-fb-name: 'icon__social__fb';
$icon-social-fb-x: 605px;
$icon-social-fb-y: 46px;
$icon-social-fb-offset-x: -605px;
$icon-social-fb-offset-y: -46px;
$icon-social-fb-width: 8px;
$icon-social-fb-height: 16px;
$icon-social-fb-total-width: 639px;
$icon-social-fb-total-height: 645px;
$icon-social-fb-image: '../img/sprite.png';
$icon-social-fb: (605px, 46px, -605px, -46px, 8px, 16px, 639px, 645px, '../img/sprite.png', 'icon__social__fb', );
$icon-social-ok-red-name: 'icon__social__ok--red';
$icon-social-ok-red-x: 630px;
$icon-social-ok-red-y: 0px;
$icon-social-ok-red-offset-x: -630px;
$icon-social-ok-red-offset-y: 0px;
$icon-social-ok-red-width: 9px;
$icon-social-ok-red-height: 15px;
$icon-social-ok-red-total-width: 639px;
$icon-social-ok-red-total-height: 645px;
$icon-social-ok-red-image: '../img/sprite.png';
$icon-social-ok-red: (630px, 0px, -630px, 0px, 9px, 15px, 639px, 645px, '../img/sprite.png', 'icon__social__ok--red', );
$icon-social-ok-name: 'icon__social__ok';
$icon-social-ok-x: 621px;
$icon-social-ok-y: 15px;
$icon-social-ok-offset-x: -621px;
$icon-social-ok-offset-y: -15px;
$icon-social-ok-width: 9px;
$icon-social-ok-height: 15px;
$icon-social-ok-total-width: 639px;
$icon-social-ok-total-height: 645px;
$icon-social-ok-image: '../img/sprite.png';
$icon-social-ok: (621px, 15px, -621px, -15px, 9px, 15px, 639px, 645px, '../img/sprite.png', 'icon__social__ok', );
$icon-social-tw-red-name: 'icon__social__tw--red';
$icon-social-tw-red-x: 568px;
$icon-social-tw-red-y: 93px;
$icon-social-tw-red-offset-x: -568px;
$icon-social-tw-red-offset-y: -93px;
$icon-social-tw-red-width: 15px;
$icon-social-tw-red-height: 13px;
$icon-social-tw-red-total-width: 639px;
$icon-social-tw-red-total-height: 645px;
$icon-social-tw-red-image: '../img/sprite.png';
$icon-social-tw-red: (568px, 93px, -568px, -93px, 15px, 13px, 639px, 645px, '../img/sprite.png', 'icon__social__tw--red', );
$icon-social-tw-name: 'icon__social__tw';
$icon-social-tw-x: 553px;
$icon-social-tw-y: 106px;
$icon-social-tw-offset-x: -553px;
$icon-social-tw-offset-y: -106px;
$icon-social-tw-width: 15px;
$icon-social-tw-height: 13px;
$icon-social-tw-total-width: 639px;
$icon-social-tw-total-height: 645px;
$icon-social-tw-image: '../img/sprite.png';
$icon-social-tw: (553px, 106px, -553px, -106px, 15px, 13px, 639px, 645px, '../img/sprite.png', 'icon__social__tw', );
$icon-social-vk-red-name: 'icon__social__vk--red';
$icon-social-vk-red-x: 491px;
$icon-social-vk-red-y: 162px;
$icon-social-vk-red-offset-x: -491px;
$icon-social-vk-red-offset-y: -162px;
$icon-social-vk-red-width: 19px;
$icon-social-vk-red-height: 11px;
$icon-social-vk-red-total-width: 639px;
$icon-social-vk-red-total-height: 645px;
$icon-social-vk-red-image: '../img/sprite.png';
$icon-social-vk-red: (491px, 162px, -491px, -162px, 19px, 11px, 639px, 645px, '../img/sprite.png', 'icon__social__vk--red', );
$icon-social-vk-name: 'icon__social__vk';
$icon-social-vk-x: 510px;
$icon-social-vk-y: 151px;
$icon-social-vk-offset-x: -510px;
$icon-social-vk-offset-y: -151px;
$icon-social-vk-width: 19px;
$icon-social-vk-height: 11px;
$icon-social-vk-total-width: 639px;
$icon-social-vk-total-height: 645px;
$icon-social-vk-image: '../img/sprite.png';
$icon-social-vk: (510px, 151px, -510px, -151px, 19px, 11px, 639px, 645px, '../img/sprite.png', 'icon__social__vk', );
$icon-thumb-up-name: 'icon__thumb-up';
$icon-thumb-up-x: 337px;
$icon-thumb-up-y: 291px;
$icon-thumb-up-offset-x: -337px;
$icon-thumb-up-offset-y: -291px;
$icon-thumb-up-width: 20px;
$icon-thumb-up-height: 19px;
$icon-thumb-up-total-width: 639px;
$icon-thumb-up-total-height: 645px;
$icon-thumb-up-image: '../img/sprite.png';
$icon-thumb-up: (337px, 291px, -337px, -291px, 20px, 19px, 639px, 645px, '../img/sprite.png', 'icon__thumb-up', );
$spritesheet-width: 639px;
$spritesheet-height: 645px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($icon-arrow-left-circle-grey, $icon-arrow-left-circle-red, $icon-arrow-left-circle-white, $icon-arrow-left-long-grey, $icon-arrow-right-circle-grey, $icon-arrow-right-circle-red, $icon-arrow-right-circle-white, $icon-auth, $icon-badge, $icon-basket-2, $icon-basket, $icon-clock, $icon-geo, $icon-info, $icon-label, $icon-loop-black, $icon-loop, $icon-mail, $icon-print, $icon-quality, $icon-ruble, $icon-size, $icon-social-fb-red, $icon-social-fb, $icon-social-ok-red, $icon-social-ok, $icon-social-tw-red, $icon-social-tw, $icon-social-vk-red, $icon-social-vk, $icon-thumb-up, );
$spritesheet: (639px, 645px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
