include templates/head.jade
body
	.wrapper
		include templates/aside.jade
		.main-content
			include templates/header.jade
			.float-wrapper
				section.content-header.content-section.content-section--grey
					.content-header__title
						h1 Блог
				section.content-section.content-section--breadcrumbs
					ul.breadcrumbs
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Блог
						li.breadcrumbs__item
							span Добавить статью
				section.form-article-wrap
					form.form-article
						.form-article-head
							.title
								h2 Описание статьи
						.form-article-group
							.row
								.col-sm-8
									label Название статьи
									input.input-text(type="text" value="Как правильно подобрать материал для вашей кухни")
								.col-sm-4
									label Выбрать категорию
									.select-wrap
										select.select(name="category")
											option(value="form1") Советы
											option(value="form2") Планировка кухни
						.form-article-head
							.title
								h2 Текст статьи
						.form-article-group
							textarea.input-text(name="message", cols="30", rows="10" placeholder="Введите текст")
							.form-article-file
								.form-article-file__button
									input.js-change-file(type="file")
									.button.button-transparent
										span Загрузить фотографию
										i.icon.icon__clip
								.form-article-file__desc.js-change-file-name Фотографии принимаются в форматах jpg. png. Вес фотографии не больше 3 Мб
						.content-section.content-section--grey
							button.button.button-default(type="submit") Добавить статью
				include templates/bottom-menu.jade
			include templates/footer.jade
	include templates/modal/add-article.jade
	include templates/modal/general.jade
