.left-menu {
	&-wrap {
		padding: 2.2em 0 4em 0;
		&--bottom {
			background: rgb(74, 73, 81);
		}
	}
	&__item {
		padding: 0 2.2em;
		transition: all 0.3s ease-in-out;
		&:hover, &.active {
			background: $btn-bg-color;
			color: $color-light;
			text-decoration: none;
			a {
				border-color: rgba(0, 0, 0, 0)!important;
			}
		}
	}
	&__item + &__item {
		a {
			border-top: 1px rgb(78, 76, 83) solid;
		}
	}
	&__link {
		width: 100%;
		padding-bottom: 1em;
		padding-top: 1.125em;
		font-size: 1.6em;
		color: $color-light;
		transition: all 0.3s ease-in-out;
		text-decoration: none;
		&:hover {
			color: $color-light;
		}
		&:focus {
			color: $color-light;
		}
	}
	&-tablet {
		&__item {

		}
		&__link {

		}
	}
}

.top-menu {
	&-wrap {
		padding-left: 0;
	}
	&__item {
		display: block;
		float: left;
	}
	&__item + &__item {
		&::before {
			content: '';
			position: relative;
			display: inline-block;
			height: 1em;
			width: 0.2em;
			background: rgb(108, 105, 117);
		}
	}
	&__link {
		padding: 1.1em 1.8em;
		color: $color-light;
		font-size: 1.4em;
		line-height: 1;
		transition: all 0.3s ease-in-out;
		text-decoration: none;
		&:hover, &.active {
			background: $btn-bg-color;
			box-shadow: 0 0 0.4em 0.2em rgb(108, 105, 117);
			color: $color-light;
		}
		&:focus {
			color: $color-light;
		}
	}
}

.bottom-menu {
	&__link {
		display: block;
		padding: 0.2em 0;
		color: $color-primary-light;
		font-size: 1.6em;
		line-height: 1.2em;
		text-decoration: none;
		&:visited, &:focus {
			color: $color-primary-light;
		}
		&:hover {
			color: $color-primary-light;
		}

	}
	&__item + &__item {
		margin-top: 0.8em;
	}
}

.section-menu {
	overflow: hidden;
	&__item {
		float: left;
		&.active .section-menu__link, &:hover .section-menu__link {
			border-color: $btn-bg-color;
			color: $btn-bg-color;
		}
	}
	&__item + &__item {
		margin-left: 50px;
	}
	&__link {
		display: block;
		padding: 10px 0 21px 0;
		font-size: 1.6em;
		color: rgb(113, 110, 127);
		border-bottom: 3px transparent solid;
		text-decoration: none;
	}
}

.section-menu--mobile {
	display: none;
	position: relative;
	overflow: hidden;
	max-height: 58px;
	background: $color-light;
	border-bottom: 1px rgb(215, 215, 215) solid;
	transition: 0.5s ease-in-out;
	&.active {
		max-height: 500px;
		.icon {
			transform: rotate(180deg);
		}
	}
	.icon {
		position: absolute;
		top: 16px;
		right: 10px;
		transition: all 0.5s ease-in-out;
	}
	ul {
		li {
			&.section-menu--mobile__current {
				padding: 18px 10px;
				font-size: 2.2em;
			}
			a, button {
				display: block;
				width: 100%;
				padding: 18px 10px;
				font-size: 2.2em;
				text-decoration: none;
				color: $color-primary;
				text-align: left;
				&:hover {
					background: rgb(245, 245, 245);
				}				
			}
			&.active {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.top-menu {
		&-wrap {
			padding-left: 0;
		}
		&__link {
			padding: 1.1em 1em;
		}
	}
}

@media screen and (max-width: 767px) {
	.left-menu {
		&-wrap {
			padding: 10px 0;
			&--bottom {
				.left-menu__item + .left-menu__item {
					a {
						border-top: 1px rgb(89, 88, 96) solid;
					}
				}
			}
		}
		&__item {
			a {
				padding-bottom: 1em;
				padding-top: 1em;
				&:hover {
					padding-left: 0;
					background: none;
				}
			}
		}
	}
	.section-menu--mobile {
		display: block;
	}
}

@media screen and (max-width: 480px) {
	.left-menu {
		&__item {
			padding: 0 10px;
			a {
				padding-left: 0!important;
			}
		}
	}
}
