include templates/head.jade
ul.nav.sitemap-nav
	li
		a(href="/") Главная
	li
		a(href="/blog.html") Блог  
	li
		a(href="/blog-detail.html") Блог внутри
	li
		a(href="/blog-add-article.html") Блог - добавить статью
	li
		a(href="/configurator.html") Конфигуратор
	li
		a(href="/lk.html") Личный кабинет
	li
		a(href="/lk-action.html") Личный кабинет - акции
	li
		a(href="/lk-orders.html") Личный кабинет - заказы
	li
		a(href="/step-1.html") Шаг 1
	li
		a(href="/step-2.html") Шаг 2
	li
		a(href="/step-3.html") Шаг 3
	li
		a(href="/product-detail.html") Каталог - карточка
	li
		a(href="/basket.html") Корзина
	li
		a(href="/place-an-order.html") Оформление заказа
	li
		a(href="/contacts.html") Контакты
	li
		a(href="/contacts-detail.html") Контакты внутри
	li
		a(href="/news.html") Новости
	li
		a(href="/news-detail.html") Новость внутри
	li
		a(href="/search.html") Поиск
	li
		a(href="/service.html") Услуги
	li
		a(href="/service-detail.html") Услуга внутри
	li
		a(href="/about.html") О компании
	li
		a(href="/reviews.html") Отзывы
