.modal-hide
	.modal-container#js-modal-basket
		.modal-container-head
			.modal-container-head__title Товар добавлен в корзину
			button.modal-close
		.modal-container-content
			.modal-basket__content
				.left
					i.icon.icon__basket--large
				.right
					p
						span Товар:
						| Духовой шкаф Zanussi ZOU 261
					p
						span Стоимостью:
						| 13 390 руб.
					p Добавлен в корзину. 
		.modal-container-footer
			button.button.button-default оформить заказ
			button.button.button-transparent Продолжить покупки