.modal-hide
	#js-modal-recovery
		.modal-two-cols
			.modal-two-cols__left
				.bg-change.bg-change--recovery
			.modal-two-cols__right
				.modal-container-head
					.modal-container-head__title Введите новый пароль 
					button.modal-close
				.modal-container-content
					form.form-modal
						input.input-text(type="text" placeholder="Пароль")
						input.input-text(type="text" placeholder="Повторить пароль")
						.input-error Пароли не совпадают
						input.button.button-default(type="submit" value="Сохранить")
		.modal-container
			
			