.modal-hide
	#js-modal-reg
		.modal-two-cols
			.modal-two-cols__left
				.bg-logo
				.bg-macbook
				.bg-change.bg-change--reg
			.modal-two-cols__right
				.modal-container-head
					.modal-container-head__title Регистрация 
					button.modal-close
				.modal-container-content
					form.form-modal
						.form-modal__input-group
							input.input-text(type="text" placeholder="Имя")
						.form-modal__input-group
							input.input-text(type="text" placeholder="E-mail")
						.form-modal__input-group
							input.input-text(type="text" placeholder="Телефон")
						input.button.button-default(type="submit" value="Зарегистрироваться")
				.modal-container-footer
					p.p-title Регистрация через социальные сети
					.social--color
						a.social--color__item(href="#")
							i.icon.icon__vk--color
						a.social--color__item(href="#")
							i.icon.icon__inst
						a.social--color__item(href="#")
							i.icon.icon__fb--color
						a.social--color__item(href="#")
							i.icon.icon__mailru
						a.social--color__item(href="#")
							i.icon.icon__yandex
						a.social--color__item(href="#")
							i.icon.icon__gplus
